In [2]:
import pandas as pd
s = pd.Series([1, 2, 3, 4, 5])
type(s)

pandas.core.series.Series

In [8]:
#dataframe from series
pd.DataFrame(s)

   0
0  1
1  2
2  3
3  4
4  5

In [18]:
#dataframe from list
data = [
    [90, 81],
    [101, 120],
    [11, 0],
    [12, 13]]
pd.DataFrame(data, columns = ["vk_score", "rs_score"])

   vk_score  rs_score
0        90        81
1       101       120
2        11         0
3        12        13

In [20]:
#dataframe from tuples
data = (
    [90, 81],
    [101, 120],
    [11, 0],
    [12, 13])
pd.DataFrame(data, columns = ["vk_score", "rs_score"])

   vk_score  rs_score
0        90        81
1       101       120
2        11         0
3        12        13

In [24]:
#dataframe from dictionary
d = {
    'name': ["vk_score", "rs_score"], 
    "score":[100, 200]
}
pd.DataFrame(d)

       name  score
0  vk_score    100
1  rs_score    200

In [26]:
movies = pd.read_csv("imdb_top_1000.csv")

In [28]:
movies

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

In [30]:
pd.read_excel("LUSID Excel - Setting up your market data.xlsx")

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Datetimes in LUSID,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,This sheet allows you to format datetimes for...,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,If you have any questions please visit our:,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,Getting Started tutorials,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,Knowledge Base articles,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,or Contact us,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,LUSID accepts datetimes in any recognised Exce...,NaN,NaN,"LUSID also accepts UTC, UTS offsets and cutlabels",NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,Excel formats to show datetime,NaN,NaN,Additional formats,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,Enter the date to convert,2019-04-10 00:00:00,NaN,Standard UTC timestamp:,"""YYYY-MM-DDTHH:MM:SS.00Z""","Where Z indicates Zulu time (UTC+0), and is eq..."
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,This date has no time component,2019-04-10 00:00:00,NaN,Convert date into a string,2019-04-10T 13:30:45.55Z,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,Specify time component,13:30:45.550000,NaN,UTC offset (not recognised as an excel date),2019-04-10T13:30:45+04:00,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,Add to your date and display the complete date...,2019-04-10 13:30:45.550000,NaN,Cutlabel,2019-04-10NSingaporeClose,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,Although the date can still appears without time,2019-04-10 13:30:45.550000,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,Add an hour to your datetime,2019-04-10 14:30:45.550000,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,Subtract a minute from your datetime,2019-04-10 14:29:45.550000,NaN,NaN,NaN,NaN

In [32]:
pd.read_csv('taxonomy.csv')

    taxonomy_id                          name parent_id           parent_name
0           101                     Emergency       NaN                   NaN
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3     101-02-01             Help Pay for Food    101-02        Emergency Cash
4     101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285   111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[290 rows x 4 columns]

In [34]:
!pip install lxml

Requirement already satisfied: lxml in c:\users\ajayk\anaconda3\lib\site-packages (5.2.1)

In [36]:
import lxml
url_df = pd.read_html("https://www.basketball-reference.com/leagues/NBA_2015_totals.html")

In [38]:
url_df

[        Rk             Player   Age Team  Pos     G    GS      MP     FG  \
 0      1.0       James Harden  25.0  HOU   SG  81.0  81.0  2981.0  647.0
 1      2.0      Stephen Curry  26.0  GSW   PG  80.0  80.0  2613.0  653.0
 2      3.0  Russell Westbrook  26.0  OKC   PG  67.0  67.0  2302.0  627.0
 3      4.0       LeBron James  30.0  CLE   SF  69.0  69.0  2493.0  624.0
 4      5.0     Damian Lillard  24.0  POR   PG  82.0  82.0  2925.0  590.0
 ..     ...                ...   ...  ...  ...   ...   ...     ...    ...
 647  489.0        Malcolm Lee  24.0  PHI   SG   1.0   0.0     2.0    0.0
 648  490.0        Kalin Lucas  25.0  MEM   PG   1.0   0.0     6.0    0.0
 649  491.0       Ronny Turiaf  32.0  MIN    C   2.0   0.0    19.0    0.0
 650  492.0         David Wear  24.0  SAC   PF   2.0   0.0     7.0    0.0
 651    NaN     League Average   NaN  NaN  NaN   NaN   NaN     NaN    NaN

         FGA  ...    DRB    TRB    AST    STL   BLK    TOV     PF     PTS  \
 0    1470.0  ...  384.0  459.0  565.0  154.0  60.0  321.0  208.0  2217.0
 1    1341.0  ...  285.0  341.0  619.0  163.0  16.0  249.0  158.0  1900.0
 2    1471.0  ...  364.0  488.0  574.0  140.0  14.0  293.0  184.0  1886.0
 3    1279.0  ...  365.0  416.0  511.0  109.0  49.0  272.0  135.0  1743.0
 4    1360.0  ...  329.0  378.0  507.0   97.0  21.0  222.0  164.0  1720.0
 ..      ...  ...    ...    ...    ...    ...   ...    ...    ...     ...
 647     1.0  ...    0.0    0.0    0.0    0.0   0.0    0.0    0.0     0.0
 648     1.0  ...    0.0    0.0    0.0    1.0   0.0    0.0    1.0     0.0
 649     0.0  ...    1.0    1.0    2.0    0.0   0.0    0.0    0.0     0.0
 650     2.0  ...    0.0    2.0    1.0    0.0   0.0    0.0    1.0     0.0
 651     NaN  ...    NaN    NaN    NaN    NaN   NaN    NaN    NaN     NaN

      Trp-Dbl                 Awards
 0        4.0          MVP-2,AS,NBA1
 1        0.0          MVP-1,AS,NBA1
 2       11.0          MVP-4,AS,NBA2
 3        2.0  MVP-3,DPOY-13,AS,NBA1
 4        0.0                     AS
 ..       ...                    ...
 647      0.0                    NaN
 648      0.0                    NaN
 649      0.0                    NaN
 650      0.0                    NaN
 651      NaN                    NaN

 [652 rows x 32 columns],
         Rk           Player   Age Team  Pos     G    GS     MP     FG    FGA  \
 0      1.0     LeBron James  30.0  CLE   SF  20.0  20.0  844.0  227.0  544.0
 1      2.0    Stephen Curry  26.0  GSW   PG  21.0  21.0  826.0  200.0  439.0
 2      3.0     James Harden  25.0  HOU   SG  17.0  17.0  636.0  129.0  294.0
 3      4.0    Klay Thompson  24.0  GSW   SG  21.0  21.0  761.0  149.0  334.0
 4      5.0    Blake Griffin  25.0  LAC   PF  14.0  14.0  557.0  140.0  274.0
 ..     ...              ...   ...  ...  ...   ...   ...    ...    ...    ...
 204  205.0       Greg Smith  24.0  DAL   PF   1.0   0.0    1.0    0.0    0.0
 205  206.0       Russ Smith  23.0  MEM   PG   2.0   0.0    3.0    0.0    0.0
 206  207.0  Mirza Teletović  29.0  BRK   PF   3.0   0.0   16.0    0.0    5.0
 207  208.0   Gerald Wallace  32.0  BOS   SF   1.0   0.0    4.0    0.0    1.0
 208    NaN   League Average   NaN  NaN  NaN   NaN   NaN    NaN    NaN    NaN

      ...    DRB    TRB    AST   STL   BLK   TOV    PF    PTS  Trp-Dbl  Awards
 0    ...  189.0  226.0  169.0  33.0  21.0  82.0  58.0  601.0      3.0     NaN
 1    ...   85.0  105.0  134.0  39.0   3.0  82.0  47.0  594.0      0.0     NaN
 2    ...   85.0   97.0  128.0  28.0   7.0  77.0  49.0  462.0      1.0     NaN
 3    ...   72.0   81.0   54.0  16.0  19.0  41.0  64.0  391.0      0.0     NaN
 4    ...  140.0  178.0   86.0  14.0  14.0  45.0  43.0  357.0      3.0     NaN
 ..   ...    ...    ...    ...   ...   ...   ...   ...    ...      ...     ...
 204  ...    0.0    0.0    0.0   0.0   0.0   0.0   0.0    0.0      0.0     NaN
 205  ...    0.0    0.0    2.0   0.0   0.0   0.0   0.0    0.0      0.0     NaN
 206  ...    4.0    4.0    0.0   1.0   0.0   1.0   1.0    0.0      0.0     NaN
 207  ...    1.0    1.0    0.0   0.0   0.0   0.0   0.0    0.0      0.0     NaN
 208  ...    NaN    NaN    NaN   NaN   NaN   NaN   NaN    NaN      NaN     NaN

 [209 rows x 32 columns]]

In [42]:
df = url_df[0]

In [44]:
df.to_csv("players.csv", index = False)

In [46]:
url = "https://api.github.com/repos/pandas-dev/pandas/issues"
pd.read_json(url)

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,sub_issues_summary,active_lock_reason,draft,pull_request,body,closed_by,reactions,timeline_url,performed_via_github_app,state_reason
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/60733,2797552195,PR_kwDOAA0YD86IQ9Hf,60733,ENH: Add `Styler.to_typst()`,...,"{'total': 0, 'completed': 0, 'percent_complete...",NaN,1.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #57617\r\n- [ ] [Tests added and ...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/60732,2797421266,PR_kwDOAA0YD86IQiEq,60732,ENH: Support 'left_anti' and 'right_anti' join...,...,"{'total': 0, 'completed': 0, 'percent_complete...",NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #42916\r\n- [ ] [Tests added and ...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/60731,2797158117,PR_kwDOAA0YD86IPqpt,60731,"DOC: Fix typo ""numpy.ndarray.putmask""",...,"{'total': 0, 'completed': 0, 'percent_complete...",NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,"Should be ""numpy.putmask""\r\n\r\n- ~~[ ] close...",NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/60730,2796811221,PR_kwDOAA0YD86IOlM-,60730,Issue 60723 resolved,...,"{'total': 0, 'completed': 0, 'percent_complete...",NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #60723 \r\n- [x] [Tests added and...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/60729,2796795387,I_kwDOAA0YD86ms7X7,60729,BUG: Series.mask incorrectly replaces position...,...,"{'total': 0, 'completed': 0, 'percent_complete...",NaN,NaN,NaN,### Pandas version checks\n\n- [x] I have chec...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
5,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/60728,2796219590,I_kwDOAA0YD86mquzG,60728,BUG: pd.Series fails to cast datetime series c...,...,"{'total': 0, 'completed': 0, 'percent_complete...",NaN,NaN,NaN,### Pandas version checks\n\n- [x] I have chec...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
6,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/60727,2796052869,I_kwDOAA0YD86mqGGF,60727,DOC: Add comparison with SPSS,...,"{'total': 0, 'completed': 0, 'percent_complete...",NaN,NaN,NaN,### Pandas version checks\n\n- [x] I have chec...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
7,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/60723,2793648949,I_kwDOAA0YD86mg7M1,60723,BUG: Concatenating dataframe and series with `...,...,"{'total': 0, 'completed': 0, 'percent_complete...",NaN,NaN,NaN,### Pandas version checks\n\n- [x] I have chec...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
8,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/60722,2793456953,PR_kwDOAA0YD86IC-CI,60722,CI: Test Github Actions Arm64 Runners,...,"{'total': 0, 'completed': 0, 'percent_complete...",NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the GitH...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
9,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/60718,2785986307,PR_kwDOAA0YD86HpJtV,60718,DOC: Whatsnew for sorting mode result,...,"{'total': 0, 'completed': 0, 'percent_complete...",NaN,1.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the GitH...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
10,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/60716,2783604660,PR_kwDOAA0YD86Hgw7Q,60716,Update PyArrow conversion and arrow/parquet te...,...,"{'total': 0, 'completed': 0, 'percent_complete...",NaN,1.0,{'url': 'https://api.github.com/repos/pandas-d...,"With the upcoming pyarrow 19.0, it should star...",NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
11,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/60714,2782900827,I_kwDOAA0YD86l37Jb,60714,BUG: why arrow only work on mac arm？,...,"{'total': 0, 'completed': 0, 'percent_complete...",NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
12,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/60711,2782857084,PR_kwDOAA0YD86HeLVV,60711,TST(string dtype): Resolve xfail in groupby.te...,...,"{'total': 0, 'completed': 0, 'percent_complete...",NaN,1.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the GitH...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
13,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/60710,2782824681,PR_kwDOAA0YD86HeENR,60710,API(str dtype): Raise on StringDtype for unary...,...,"{'total': 0, 'completed': 0, 'percent_complete...",NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the GitH...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
14,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/60709,2782697018,PR_kwDOAA0YD86HdpUX,60709,ENH(string dtype): Make str.decode return str ...,...,"{'total': 0, 'completed': 0, 'percent_complete...",NaN,1.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the GitH...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
15,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/60705,2782675269,I_kwDOAA0YD86l3EFF,60705,"DOC: io.rst description and code inconsistent,...",...,"{'total': 0, 'completed': 0, 'percent_complete...",NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
16,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/60699,2782495004,I_kwDOAA0YD86l2YEc,60699,BUG: quoting=csv.QUOTE_NONNUMERIC adds extra d...,...,"{'total': 0, 'completed': 0, 'percent_complete...",NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
17,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/60695,2782094308,I_kwDOAA0YD86l02Pk,60695,BUG: Series constructor from dictionary drops ...,...,"{'total': 0, 'completed': 0, 'percent_complete...",NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
18,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/60694,2782041015,PR_kwDOAA0YD86Hbp9k,60694,TST(string dtype): Resolve xfails in test_from...,...,"{'total': 0, 'completed': 0, 'percent_complete...",NaN,1.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the GitH...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
19,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/60693,2782019632,I_kwDOAA0YD86l0kAw,60693,"ENH: add `__rshift__`, `__lshift__`, `__irshif...",...,"{'total': 0, 'completed': 0, 'percent_complete...",NaN,NaN,NaN,### Feature Type\n\n- [X] Adding new functiona...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
20,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/60692,2781798209,I_kwDOAA0YD86lzt9B,60692,ENH: Make pd.Timestamp.astimezone() default to...,...,"{'total': 0, 'completed': 0, 'percent_complete...",NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
21,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/60690,2778992273,I_kwDOAA0YD86lpA6R,60690,ENH: frozensets are shown in parentheses (like...,...,"{'total': 0, 'completed': 0, 'percent_complete...",NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
22,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/60686,2778058545,PR_kwDOAA0YD86HOCWT,60686,Remove editable installs from CI,...,"{'total': 0, 'completed': 0, 'percent_complete...",NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,The meson-python team does not suggest using e...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
23,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/60685,2777461553,I_kwDOAA0YD86ljLMx,60685,ENH: Better error message for trying to conver...,...,"{'total': 0, 'completed': 0, 'percent_complete...",NaN,NaN,NaN,### Feature Type\n\n- [ ] Adding new functiona...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
24,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/60684,2777093287,I_kwDOAA0YD86lhxSn,60684,BUG: Pandas to_sql 'Engine' object has no attr...,...,"{'total': 0, 'completed': 0, 'percent_complete...",NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
25,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/60681,2776090837,PR_kwDOAA0YD86HHQPY,60681,Relax meson pins in CI,...,"{'total': 0, 'completed': 0, 'percent_complete...",NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,Back in https://github.com/pandas-dev/pandas/p...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
26,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/60678,2775574052,I_kwDOAA0YD86lb-Yk,60678,BUG: boolean series .isin([pd.NA])] inconsiste...,...,"{'total': 0, 'completed': 0, 'percent_complete...",NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
27,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/60677,2775558091,I_kwDOAA0YD86lb6fL,60677,BUG: scalar out of bounds input does not raise...,...,"{'total': 0, 'completed': 0, 'percent_complete...",NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
28,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/60676,2775492739,I_kwDOAA0YD86lbqiD,60676,ENH: Change default dtype of `str.get_dummies(...,...,"{'total': 0, 'completed': 0, 'percent_complete...",NaN,NaN,NaN,### Feature Type\n\n- [ ] Adding new functiona...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
29,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/60675,2774076906,I_kwDOAA0YD86lWQ3q,60675,ENH: Support attrs in feather files,...,"{'total': 0, 'completed': 0, 'percent_complete...",NaN,NaN,NaN,### Feature Type\n\n- [X] Adding new functiona...,NaN,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN

In [48]:
import requests
data = requests.get(url)

In [50]:
data

In [52]:
data.json()

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60733',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60733/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60733/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60733/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/60733',
  'id': 2797552195,
  'node_id': 'PR_kwDOAA0YD86IQ9Hf',
  'number': 60733,
  'title': 'ENH: Add `Styler.to_typst()`',
  'user': {'login': '3w36zj6',
   'id': 52315048,
   'node_id': 'MDQ6VXNlcjUyMzE1MDQ4',
   'avatar_url': 'https://avatars.githubusercontent.com/u/52315048?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/3w36zj6',
   'html_url': 'https://github.com/3w36zj6',
   'followers_url': 'https://api.github.com/users/3w36zj6/followers',
   'following_url': 'https://api.github.com/users/3w36zj6/following{/other_user}',
   'gists_url': 'https://api.github.com/users/3w36zj6/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/3w36zj6/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/3w36zj6/subscriptions',
   'organizations_url': 'https://api.github.com/users/3w36zj6/orgs',
   'repos_url': 'https://api.github.com/users/3w36zj6/repos',
   'events_url': 'https://api.github.com/users/3w36zj6/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/3w36zj6/received_events',
   'type': 'User',
   'user_view_type': 'public',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2025-01-19T10:30:54Z',
  'updated_at': '2025-01-19T10:30:54Z',
  'closed_at': None,
  'author_association': 'NONE',
  'sub_issues_summary': {'total': 0, 'completed': 0, 'percent_completed': 0},
  'active_lock_reason': None,
  'draft': True,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/60733',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/60733',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/60733.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/60733.patch',
   'merged_at': None},
  'body': '- [ ] closes #57617\r\n- [ ] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [ ] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [ ] Added [type annotations](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#type-hints) to new arguments/methods/functions.\r\n- [ ] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature.\r\n',
  'closed_by': None,
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60733/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60733/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60732',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60732/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60732/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60732/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/60732',
  'id': 2797421266,
  'node_id': 'PR_kwDOAA0YD86IQiEq',
  'number': 60732,
  'title': "ENH: Support 'left_anti' and 'right_anti' joins in pd.merge",
  'user': {'login': 'snitish',
   'id': 7503884,
   'node_id': 'MDQ6VXNlcjc1MDM4ODQ=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/7503884?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/snitish',
   'html_url': 'https://github.com/snitish',
   'followers_url': 'https://api.github.com/users/snitish/followers',
   'following_url': 'https://api.github.com/users/snitish/following{/other_user}',
   'gists_url': 'https://api.github.com/users/snitish/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/snitish/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/snitish/subscriptions',
   'organizations_url': 'https://api.github.com/users/snitish/orgs',
   'repos_url': 'https://api.github.com/users/snitish/repos',
   'events_url': 'https://api.github.com/users/snitish/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/snitish/received_events',
   'type': 'User',
   'user_view_type': 'public',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2025-01-19T05:05:59Z',
  'updated_at': '2025-01-19T09:20:23Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'sub_issues_summary': {'total': 0, 'completed': 0, 'percent_completed': 0},
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/60732',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/60732',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/60732.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/60732.patch',
   'merged_at': None},
  'body': '- [ ] closes #42916\r\n- [ ] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [ ] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [ ] Added [type annotations](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#type-hints) to new arguments/methods/functions.\r\n- [ ] Added an entry in the latest `doc/source/whatsnew/v3.0.0.rst` file if fixing a bug or adding a new feature.\r\n',
  'closed_by': None,
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60732/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60732/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60731',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60731/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60731/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60731/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/60731',
  'id': 2797158117,
  'node_id': 'PR_kwDOAA0YD86IPqpt',
  'number': 60731,
  'title': 'DOC: Fix typo "numpy.ndarray.putmask"',
  'user': {'login': 'wjandrea',
   'id': 22385371,
   'node_id': 'MDQ6VXNlcjIyMzg1Mzcx',
   'avatar_url': 'https://avatars.githubusercontent.com/u/22385371?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/wjandrea',
   'html_url': 'https://github.com/wjandrea',
   'followers_url': 'https://api.github.com/users/wjandrea/followers',
   'following_url': 'https://api.github.com/users/wjandrea/following{/other_user}',
   'gists_url': 'https://api.github.com/users/wjandrea/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/wjandrea/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/wjandrea/subscriptions',
   'organizations_url': 'https://api.github.com/users/wjandrea/orgs',
   'repos_url': 'https://api.github.com/users/wjandrea/repos',
   'events_url': 'https://api.github.com/users/wjandrea/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/wjandrea/received_events',
   'type': 'User',
   'user_view_type': 'public',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2025-01-18T20:01:26Z',
  'updated_at': '2025-01-18T20:01:26Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'sub_issues_summary': {'total': 0, 'completed': 0, 'percent_completed': 0},
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/60731',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/60731',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/60731.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/60731.patch',
   'merged_at': None},
  'body': 'Should be "numpy.putmask"\r\n\r\n- ~~[ ] closes #xxxx (Replace xxxx with the GitHub issue number)~~\r\n- ~~[ ] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature~~\r\n- [ ] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- ~~[ ] Added [type annotations](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#type-hints) to new arguments/methods/functions.~~\r\n- ~~[ ] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature.~~',
  'closed_by': None,
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60731/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60731/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60730',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60730/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60730/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60730/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/60730',
  'id': 2796811221,
  'node_id': 'PR_kwDOAA0YD86IOlM-',
  'number': 60730,
  'title': 'Issue 60723 resolved',
  'user': {'login': 'BAnSsal',
   'id': 162358763,
   'node_id': 'U_kgDOCa1l6w',
   'avatar_url': 'https://avatars.githubusercontent.com/u/162358763?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/BAnSsal',
   'html_url': 'https://github.com/BAnSsal',
   'followers_url': 'https://api.github.com/users/BAnSsal/followers',
   'following_url': 'https://api.github.com/users/BAnSsal/following{/other_user}',
   'gists_url': 'https://api.github.com/users/BAnSsal/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/BAnSsal/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/BAnSsal/subscriptions',
   'organizations_url': 'https://api.github.com/users/BAnSsal/orgs',
   'repos_url': 'https://api.github.com/users/BAnSsal/repos',
   'events_url': 'https://api.github.com/users/BAnSsal/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/BAnSsal/received_events',
   'type': 'User',
   'user_view_type': 'public',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2025-01-18T07:05:06Z',
  'updated_at': '2025-01-18T08:47:50Z',
  'closed_at': None,
  'author_association': 'NONE',
  'sub_issues_summary': {'total': 0, 'completed': 0, 'percent_completed': 0},
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/60730',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/60730',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/60730.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/60730.patch',
   'merged_at': None},
  'body': '- [x] closes #60723 \r\n- [x] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [x] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [x] Added [type annotations](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#type-hints) to new arguments/methods/functions.\r\n- [x] Added an entry in the latest `core/reshape/concat.py` file if fixing a bug or adding a new feature.\r\nI am attaching test case:\r\n![image](https://github.com/user-attachments/assets/a67a7794-4062-40f6-8cab-93a73db3909d)\r\n![image](https://github.com/user-attachments/assets/dabe284d-2a90-44cf-8d7d-ec85d465e093)\r\n\r\nAdjusted the condition to set name = 0 only when name is explicitly None.\r\nPreviously, the name attribute was being overwritten unconditionally when ignore_index=True, even if a valid name existed.\r\n\r\n',
  'closed_by': None,
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60730/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60730/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60729',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60729/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60729/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60729/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/60729',
  'id': 2796795387,
  'node_id': 'I_kwDOAA0YD86ms7X7',
  'number': 60729,
  'title': 'BUG: Series.mask incorrectly replaces positions of pd.NA in the cond argument',
  'user': {'login': 'kartoria',
   'id': 75015098,
   'node_id': 'MDQ6VXNlcjc1MDE1MDk4',
   'avatar_url': 'https://avatars.githubusercontent.com/u/75015098?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/kartoria',
   'html_url': 'https://github.com/kartoria',
   'followers_url': 'https://api.github.com/users/kartoria/followers',
   'following_url': 'https://api.github.com/users/kartoria/following{/other_user}',
   'gists_url': 'https://api.github.com/users/kartoria/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/kartoria/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/kartoria/subscriptions',
   'organizations_url': 'https://api.github.com/users/kartoria/orgs',
   'repos_url': 'https://api.github.com/users/kartoria/repos',
   'events_url': 'https://api.github.com/users/kartoria/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/kartoria/received_events',
   'type': 'User',
   'user_view_type': 'public',
   'site_admin': False},
  'labels': [{'id': 76811,
    'node_id': 'MDU6TGFiZWw3NjgxMQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
    'name': 'Bug',
    'color': 'e10c02',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': {'login': 'sanggon6107',
   'id': 68040183,
   'node_id': 'MDQ6VXNlcjY4MDQwMTgz',
   'avatar_url': 'https://avatars.githubusercontent.com/u/68040183?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/sanggon6107',
   'html_url': 'https://github.com/sanggon6107',
   'followers_url': 'https://api.github.com/users/sanggon6107/followers',
   'following_url': 'https://api.github.com/users/sanggon6107/following{/other_user}',
   'gists_url': 'https://api.github.com/users/sanggon6107/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/sanggon6107/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/sanggon6107/subscriptions',
   'organizations_url': 'https://api.github.com/users/sanggon6107/orgs',
   'repos_url': 'https://api.github.com/users/sanggon6107/repos',
   'events_url': 'https://api.github.com/users/sanggon6107/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/sanggon6107/received_events',
   'type': 'User',
   'user_view_type': 'public',
   'site_admin': False},
  'assignees': [{'login': 'sanggon6107',
    'id': 68040183,
    'node_id': 'MDQ6VXNlcjY4MDQwMTgz',
    'avatar_url': 'https://avatars.githubusercontent.com/u/68040183?v=4',
    'gravatar_id': '',
    'url': 'https://api.github.com/users/sanggon6107',
    'html_url': 'https://github.com/sanggon6107',
    'followers_url': 'https://api.github.com/users/sanggon6107/followers',
    'following_url': 'https://api.github.com/users/sanggon6107/following{/other_user}',
    'gists_url': 'https://api.github.com/users/sanggon6107/gists{/gist_id}',
    'starred_url': 'https://api.github.com/users/sanggon6107/starred{/owner}{/repo}',
    'subscriptions_url': 'https://api.github.com/users/sanggon6107/subscriptions',
    'organizations_url': 'https://api.github.com/users/sanggon6107/orgs',
    'repos_url': 'https://api.github.com/users/sanggon6107/repos',
    'events_url': 'https://api.github.com/users/sanggon6107/events{/privacy}',
    'received_events_url': 'https://api.github.com/users/sanggon6107/received_events',
    'type': 'User',
    'user_view_type': 'public',
    'site_admin': False}],
  'milestone': None,
  'comments': 2,
  'created_at': '2025-01-18T06:32:44Z',
  'updated_at': '2025-01-18T09:52:13Z',
  'closed_at': None,
  'author_association': 'NONE',
  'sub_issues_summary': {'total': 0, 'completed': 0, 'percent_completed': 0},
  'active_lock_reason': None,

In [56]:
titanic = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [54]:
movies = pd.read_csv("imdb_top_1000.csv")

In [58]:
movies

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

In [62]:
cricket = pd.read_excel("world_cup-24.xlsx")

In [64]:
cricket

,Unnamed: 0,Unnamed: 1,Unnamed: 2,GROUP,MATCH_ID,BATTING_ID,TEAM_ID,TEAM_NAME,VS,VANUE,...,OVR17,OVR18,OVR19,OVR20,TOTAL_SCORE,WICKETS,4S,6S,STATUS,1ST/2ND
0,NaN,NaN,NaN,A,1,201.0,1001.0,Canada,Canada va United States,Grand Prairie Stadium,...,6.0,4.0,14.0,21.0,194.0,5.0,17.0,8.0,LOSS,1.0
1,NaN,NaN,NaN,A,1,202.0,1002.0,United States,Canada va United States,Grand Prairie Stadium,...,7.0,16.0,NaN,NaN,197.0,3.0,13.0,13.0,WIN,2.0
2,NaN,NaN,NaN,C,2,203.0,1003.0,PNG,PNG va West Indies,Providence Stadium,...,3.0,13.0,10.0,14.0,136.0,8.0,NaN,NaN,LOSS,1.0
3,NaN,NaN,NaN,C,2,204.0,1004.0,West Indies,PNG va West Indies,Providence Stadium,...,9.0,18.0,13.0,NaN,137.0,5.0,NaN,NaN,WIN,2.0
4,NaN,NaN,NaN,B,3,205.0,1005.0,Oman,oman vs Namibia,"Kensington Oval, Bridgetown, Barbados",...,6.0,8.0,4.0,8.0,109.0,10.0,8.0,2.0,Tie,1.0
5,NaN,NaN,NaN,B,3,206.0,1006.0,Namibia,oman vs Namibia,"Kensington Oval, Bridgetown, Barbados",...,8.0,4.0,9.0,4.0,109.0,6.0,10.0,2.0,Tie,2.0
6,NaN,NaN,NaN,D,4,207.0,1007.0,Srilanka,South Africa vs Srilanka,Nassau County International Cricket Stadium,...,1.0,0.0,5.0,1.0,77.0,10.0,3.0,3.0,LOSS,1.0
7,NaN,NaN,NaN,D,4,208.0,1008.0,South Africa,South Africa vs Srilanka,Nassau County International Cricket Stadium,...,5.0,NaN,NaN,NaN,80.0,4.0,3.0,3.0,WIN,2.0
8,NaN,NaN,NaN,C,5,209.0,1009.0,Afghanistan,Afghanistan vs Uganda,Providence Stadium,...,5.0,5.0,6.0,6.0,183.0,5.0,12.0,5.0,WIN,1.0
9,NaN,NaN,NaN,C,5,210.0,1010.0,Uganda,Afghanistan vs Uganda,Providence Stadium,...,NaN,NaN,NaN,NaN,58.0,10.0,4.0,1.0,LOSS,2.0
10,NaN,NaN,NaN,B,6,211.0,1011.0,Scotland,Scotland vs England,"Kensington Oval, Bridgetown, Barbados",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,B,6,212.0,1012.0,England,Scotland vs England,"Kensington Oval, Bridgetown, Barbados",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,D,7,213.0,1013.0,Nepal,Netherlands vs Nepal,Grand Prairie Stadium,...,7.0,5.0,10.0,0.0,106.0,10.0,10.0,3.0,LOSS,1.0
13,NaN,NaN,NaN,D,7,214.0,1014.0,Netherlands,Netherlands vs Nepal,Grand Prairie Stadium,...,4.0,6.0,15.0,NaN,109.0,4.0,10.0,1.0,WIN,2.0
14,NaN,NaN,NaN,A,8,215.0,1015.0,Ireland,India vs Ireland,Nassau County International Cricket Stadium,...,NaN,NaN,NaN,NaN,96.0,10.0,8.0,3.0,LOSS,1.0
15,NaN,NaN,NaN,A,8,216.0,1016.0,India,India vs Ireland,Nassau County International Cricket Stadium,...,NaN,NaN,NaN,NaN,97.0,2.0,7.0,5.0,WIN,2.0
16,NaN,NaN,NaN,C,9,217.0,1003.0,PNG,PNG vs Uganda,"Providence Stadium, Guyana",...,4.0,5.0,3.0,0.0,77.0,10.0,4.0,1.0,LOSS,1.0
17,NaN,NaN,NaN,C,9,218.0,1010.0,Uganda,PNG vs Uganda,"Providence Stadium, Guyana",...,2.0,3.0,2.0,NaN,78.0,7.0,2.0,0.0,WIN,2.0
18,NaN,NaN,NaN,B,10,219.0,1017.0,Australia,Australia vs Oman,"Kensington Oval, Bridgetown, Barbados",...,16.0,9.0,17.0,8.0,164.0,5.0,14.0,7.0,WIN,1.0
19,NaN,NaN,NaN,B,10,220.0,1005.0,Oman,Australia vs Oman,"Kensington Oval, Bridgetown, Barbados",...,7.0,13.0,12.0,4.0,125.0,9.0,8.0,5.0,LOSS,2.0
20,NaN,NaN,NaN,A,11,221.0,1018.0,Pakistan,Pakistan vs United States,"Grand Prairie Stadium, Dallas",...,6.0,7.0,10.0,10.0,159.0,7.0,8.0,9.0,Tie,1.0
21,NaN,NaN,NaN,A,11,222.0,1002.0,United States,Pakistan vs United States,"Grand Prairie Stadium, Dallas",...,6.0,7.0,6.0,14.0,159.0,3.0,16.0,4.0,Tie,2.0
22,NaN,NaN,NaN,B,12,223.0,1006.0,Namibia,Namibia vs Scotland,"Kensington Oval, Bridgetown, Barbados",...,13.0,4.0,3.0,13.0,155.0,9.0,12.0,5.0,LOSS,1.0
23,NaN,NaN,NaN,B,12,224.0,1011.0,Scotland,Namibia vs Scotland,"Kensington Oval, Bridgetown, Barbados",...,19.0,13.0,9.0,NaN,157.0,5.0,7.0,7.0,WIN,2.0
24,NaN,NaN,NaN,A,13,225.0,1001.0,Canada,Canada vs Ireland,Nassau County International Cricket Stadium,...,9.0,7.0,2.0,9.0,137.0,7.0,13.0,2.0,WIN,1.0
25,NaN,NaN,NaN,A,13,226.0,1015.0,Ireland,Canada vs Ireland,Nassau County International Cricket Stadium,...,14.0,8.0,11.0,4.0,125.0,7.0,7.0,2.0,LOSS,2.0
26,NaN,NaN,NaN,C,14,227.0,1009.0,Afghanistan,Afghanistan vs New Zealand,"Providence Stadium, Guyana",...,13.0,13.0,16.0,3.0,159.0,6.0,10.0,9.0,WIN,1.0
27,NaN,NaN,NaN,C,14,228.0,1019.0,New Zealand,Afghanistan vs New Zealand,"Providence Stadium, Guyana",...,NaN,NaN,NaN,NaN,75.0,10.0,5.0,1.0,LOSS,2.0
28,NaN,NaN,NaN,D,15,229.0,1007.0,Srilanka,Srilanka vs Bangladesh,Grand Prairie Stadium,...,3.0,3.0,2.0,7.0,124.0,9.0,13.0,4.0,LOSS,1.0
29,NaN,NaN,NaN,D,15,230.0,1020.0,Bangladesh,Srilanka vs Bangladesh,Grand Prairie Stadium,...,3.0,3.0,11.0,NaN,125.0,8.0,3.0,6.0,WIN,2.0
30,NaN,NaN,NaN,D,16,231.0,1014.0,Netherlands,Netherlands vs South Africa,Nassau County International Cricket Stadium,...,7.0,9.0,15.0,1.0,103.0,9.0,6.0,2.0,LOSS,1.0
31,NaN,NaN,NaN,D,16,232.0,1008.0,South Africa,Netherlands vs South Africa,Nassau County International Cricket Stadium,...,4.0,9.0,NaN,NaN,106.0,6.0,3.0,5.0,WIN,2.0
32,NaN,NaN,NaN,B,17,233.0,1017.0,Australia,Australia vs England,"Kensington Oval, Bridgetown, Barbados",...,13.0,12.0,8.0,8.0,201.0,7.0,14.0,13.0,WIN,1.0
33,NaN,NaN,NaN,B,17,234.0,1012.0,England,Australia vs England,"Kensington Oval, Bridgetown, Barbados",...,6.0,12.0,4.0,13.0,165.0,6.0,12.0,8.0,LOSS,2.0
34,NaN,NaN,NaN,C,18,235.0,1004.0,West Indies,West Indies vs Uganda,"Providence Stadium, Guyana",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,C,18,236.0,1010.0,Uganda,West Indies vs Uganda,"Providence Stadium, Guyana",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,A,19,237.0,1016.0,India,India vs Pakistan,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,A,19,238.0,1018.0,Pakistan,India vs Pakistan,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,B,20,239.0,1005.0,Oman,Oman vs Scotland,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,B,20,240.0,1011.0,Scotland,Oman vs Scotland,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,D,21,241.0,1008.0,South Africa,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,D,21,242.0,1020.0,Bangladesh,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,A,22,243.0,1001.0,Canada,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,A,22,244.0,1018.0,Pakistan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,D,23,245.0,1007.0,Srilanka,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,D,23,246.0,1013.0,Nepal,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,B,24,247.0,1006.0,Namibia,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,B,24,248.0,1017.0,Australia,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,25,249.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,25,250.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,NaN,NaN,NaN,NaN,26,251.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,26,252.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,NaN,NaN,NaN,NaN,27,253.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,NaN,NaN,NaN,27,254.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN,28,255.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,NaN,NaN,NaN,NaN,28,256.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN,29,257.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,NaN,NaN,NaN,NaN,29,258.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,NaN,NaN,NaN,NaN,30,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,NaN,NaN,NaN,NaN,30,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
movies

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

In [68]:
#meta data from dataframe
movies.shape

(1000, 16)

In [70]:
movies.dtypes

Poster_Link       object
Series_Title      object
Released_Year     object
Certificate       object
Runtime           object
Genre             object
IMDB_Rating      float64
Overview          object
Meta_score       float64
Director          object
Star1             object
Star2             object
Star3             object
Star4             object
No_of_Votes        int64
Gross             object
dtype: object

In [72]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [74]:
movies

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

In [76]:
movies.columns

Index(['Poster_Link', 'Series_Title', 'Released_Year', 'Certificate',
       'Runtime', 'Genre', 'IMDB_Rating', 'Overview', 'Meta_score', 'Director',
       'Star1', 'Star2', 'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

In [82]:
movies.index

RangeIndex(start=0, stop=1000, step=1)

In [86]:
#dataframe is made of arrays 
movies.values

array([['https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_UX67_CR0,0,67,98_AL_.jpg',
        'The Shawshank Redemption', '1994', ..., 'William Sadler',
        2343110, '28,341,469'],
       ['https://m.media-amazon.com/images/M/MV5BM2MyNjYxNmUtYTAwNi00MTYxLWJmNWYtYzZlODY3ZTk3OTFlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UY98_CR1,0,67,98_AL_.jpg',
        'The Godfather', '1972', ..., 'Diane Keaton', 1620367,
        '134,966,411'],
       ['https://m.media-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_UX67_CR0,0,67,98_AL_.jpg',
        'The Dark Knight', '2008', ..., 'Michael Caine', 2303232,
        '534,858,444'],
       ...,
       ['https://m.media-amazon.com/images/M/MV5BM2U3YzkxNGMtYWE0YS00ODk0LTk1ZGEtNjk3ZTE0MTk4MzJjXkEyXkFqcGdeQXVyNDk0MDg4NDk@._V1_UX67_CR0,0,67,98_AL_.jpg',
        'From Here to Eternity', '1953', ..., 'Donna Reed', 43374,
        '30,500,000'],
       ['https://m.media-amazon.com/images/M/MV5BZTBmMjUyMjItYTM4ZS00MjAwLWEyOGYtYjMyZTUxN2I3OTMxXkEyXkFqcGdeQXVyNjc1NTYyMjg@._V1_UX67_CR0,0,67,98_AL_.jpg',
        'Lifeboat', '1944', ..., 'William Bendix', 26471, nan],
       ['https://m.media-amazon.com/images/M/MV5BMTY5ODAzMTcwOF5BMl5BanBnXkFtZTcwMzYxNDYyNA@@._V1_UX67_CR0,0,67,98_AL_.jpg',
        'The 39 Steps', '1935', ..., 'Godfrey Tearle', 51853, nan]],
      dtype=object)

In [89]:
movies.head(5)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [91]:
movies.head(7)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
5,https://m.media-amazon.com/images/M/MV5BNzA5ZD...,The Lord of the Rings: The Return of the King,2003,U,201 min,"Action, Adventure, Drama",8.9,Gandalf and Aragorn lead the World of Men agai...,94.0,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,1642758,"377,845,905"
6,https://m.media-amazon.com/images/M/MV5BNGNhMD...,Pulp Fiction,1994,A,154 min,"Crime, Drama",8.9,"The lives of two mob hitmen, a boxer, a gangst...",94.0,Quentin Tarantino,John Travolta,Uma Thurman,Samuel L. Jackson,Bruce Willis,1826188,"107,928,762"

In [93]:
movies.tail(5)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

In [97]:
movies.sample(2)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
565,https://m.media-amazon.com/images/M/MV5BYTJmNm...,A Night at the Opera,1935,Passed,96 min,"Comedy, Music, Musical",7.9,A sly business manager and two wacky friends o...,NaN,Sam Wood,Edmund Goulding,Groucho Marx,Chico Marx,Harpo Marx,30580,"2,537,520"
933,https://m.media-amazon.com/images/M/MV5BMjA0Mj...,"Synecdoche, New York",2008,R,124 min,Drama,7.6,"A theatre director struggles with his work, an...",67.0,Charlie Kaufman,Philip Seymour Hoffman,Samantha Morton,Michelle Williams,Catherine Keener,83158,"3,081,925"

In [103]:
movies.sample(200)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
474,https://m.media-amazon.com/images/M/MV5BN2U1Yz...,Nightcrawler,2014,A,117 min,"Crime, Drama, Thriller",7.9,"When Louis Bloom, a con man desperate for work...",76.0,Dan Gilroy,Jake Gyllenhaal,Rene Russo,Bill Paxton,Riz Ahmed,466134,"32,381,218"
476,https://m.media-amazon.com/images/M/MV5BMTExMz...,Arrival,2016,UA,116 min,"Drama, Sci-Fi",7.9,A linguist works with the military to communic...,81.0,Denis Villeneuve,Amy Adams,Jeremy Renner,Forest Whitaker,Michael Stuhlbarg,594181,"100,546,139"
113,https://m.media-amazon.com/images/M/MV5BMTY3Mj...,A Clockwork Orange,1971,A,136 min,"Crime, Drama, Sci-Fi",8.3,"In the future, a sadistic gang leader is impri...",77.0,Stanley Kubrick,Malcolm McDowell,Patrick Magee,Michael Bates,Warren Clarke,757904,"6,207,725"
166,https://m.media-amazon.com/images/M/MV5BZTIwYz...,Andaz Apna Apna,1994,U,160 min,"Action, Comedy, Romance",8.2,Two slackers competing for the affections of a...,NaN,Rajkumar Santoshi,Aamir Khan,Salman Khan,Raveena Tandon,Karisma Kapoor,49300,NaN
128,https://m.media-amazon.com/images/M/MV5BYjg2ZD...,Chhichhore,2019,UA,143 min,"Comedy, Drama",8.2,"A tragic incident forces Anirudh, a middle-age...",NaN,Nitesh Tiwari,Sushant Singh Rajput,Shraddha Kapoor,Varun Sharma,Prateik,33893,"898,575"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48,https://m.media-amazon.com/images/M/MV5BZGI5Mj...,Once Upon a Time in the West,1968,U,165 min,Western,8.5,A mysterious stranger with a harmonica joins f...,80.0,Sergio Leone,Henry Fonda,Charles Bronson,Claudia Cardinale,Jason Robards,302844,"5,321,508"
759,https://m.media-amazon.com/images/M/MV5BOTA1Mz...,Changeling,2008,R,141 min,"Biography, Crime, Drama",7.7,Grief-stricken mother Christine Collins (Angel...,63.0,Clint Eastwood,Angelina Jolie,Colm Feore,Amy Ryan,Gattlin Griffith,239203,"35,739,802"
70,https://m.media-amazon.com/images/M/MV5BNGIzY2...,Mononoke-hime,1997,U,134 min,"Animation, Action, Adventure",8.4,On a journey to find the cure for a Tatarigami...,76.0,Hayao Miyazaki,Yôji Matsuda,Yuriko Ishida,Yûko Tanaka,Billy Crudup,343171,"2,375,308"
993,https://m.media-amazon.com/images/M/MV5BYTE4YW...,Blowup,1966,A,111 min,"Drama, Mystery, Thriller",7.6,A fashion photographer unknowingly captures a ...,82.0,Michelangelo Antonioni,David Hemmings,Vanessa Redgrave,Sarah Miles,John Castle,56513,NaN
57,https://m.media-amazon.com/images/M/MV5BMTQ4Mz...,Dangal,2016,U,161 min,"Action, Biography, Drama",8.4,Former wrestler Mahavir Singh Phogat and his t...,NaN,Nitesh Tiwari,Aamir Khan,Sakshi Tanwar,Fatima Sana Shaikh,Sanya Malhotra,156479,"12,391,761"

In [107]:
movies.sample(frac=0.20)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
314,https://m.media-amazon.com/images/M/MV5BYjUyZW...,Gone with the Wind,1939,U,238 min,"Drama, History, Romance",8.1,A manipulative woman and a roguish man conduct...,97.0,Victor Fleming,George Cukor,Sam Wood,Clark Gable,Vivien Leigh,290074,"198,676,459"
169,https://m.media-amazon.com/images/M/MV5BODI2Zj...,Dom za vesanje,1988,R,142 min,"Comedy, Crime, Drama",8.2,In this luminous tale set in the area around S...,NaN,Emir Kusturica,Davor Dujmovic,Bora Todorovic,Ljubica Adzovic,Husnija Hasimovic,26402,"280,015"
984,https://m.media-amazon.com/images/M/MV5BMGQ0OG...,The Muppet Movie,1979,U,95 min,"Adventure, Comedy, Family",7.6,Kermit and his newfound friends trek across Am...,74.0,James Frawley,Jim Henson,Frank Oz,Jerry Nelson,Richard Hunt,32802,"76,657,000"
664,https://m.media-amazon.com/images/M/MV5BMTczOT...,A Bronx Tale,1993,R,121 min,"Crime, Drama, Romance",7.8,A father becomes worried when a local gangster...,80.0,Robert De Niro,Robert De Niro,Chazz Palminteri,Lillo Brancato,Francis Capra,128171,"17,266,971"
671,https://m.media-amazon.com/images/M/MV5BMjI5Nj...,Awakenings,1990,U,121 min,"Biography, Drama",7.8,The victims of an encephalitis epidemic many y...,74.0,Penny Marshall,Robert De Niro,Robin Williams,Julie Kavner,Ruth Nelson,125276,"52,096,475"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
867,https://m.media-amazon.com/images/M/MV5BYTExYj...,Invasion of the Body Snatchers,1956,Approved,80 min,"Drama, Horror, Sci-Fi",7.7,A small-town doctor learns that the population...,92.0,Don Siegel,Kevin McCarthy,Dana Wynter,Larry Gates,King Donovan,44839,NaN
173,https://m.media-amazon.com/images/M/MV5BYjRmOD...,Raging Bull,1980,A,129 min,"Biography, Drama, Sport",8.2,"The life of boxer Jake LaMotta, whose violence...",89.0,Martin Scorsese,Robert De Niro,Cathy Moriarty,Joe Pesci,Frank Vincent,321860,"23,383,987"
132,https://m.media-amazon.com/images/M/MV5BMjI0OD...,"Three Billboards Outside Ebbing, Missouri",2017,A,115 min,"Comedy, Crime, Drama",8.2,A mother personally challenges the local autho...,88.0,Martin McDonagh,Frances McDormand,Woody Harrelson,Sam Rockwell,Caleb Landry Jones,432610,"54,513,740"
23,https://m.media-amazon.com/images/M/MV5BMjlmZm...,Sen to Chihiro no kamikakushi,2001,U,125 min,"Animation, Adventure, Family",8.6,"During her family's move to the suburbs, a sul...",96.0,Hayao Miyazaki,Daveigh Chase,Suzanne Pleshette,Miyu Irino,Rumi Hiiragi,651376,"10,055,859"
9,https://m.media-amazon.com/images/M/MV5BMmEzNT...,Fight Club,1999,A,139 min,Drama,8.8,An insomniac office worker and a devil-may-car...,66.0,David Fincher,Brad Pitt,Edward Norton,Meat Loaf,Zach Grenier,1854740,"37,030,102"

In [109]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [111]:
movies.isnull().sum()

Poster_Link        0
Series_Title       0
Released_Year      0
Certificate      101
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64

In [113]:
movies.describe() #statistics of numerical column

       IMDB_Rating  Meta_score   No_of_Votes
count  1000.000000  843.000000  1.000000e+03
mean      7.949300   77.971530  2.736929e+05
std       0.275491   12.376099  3.273727e+05
min       7.600000   28.000000  2.508800e+04
25%       7.700000   70.000000  5.552625e+04
50%       7.900000   79.000000  1.385485e+05
75%       8.100000   87.000000  3.741612e+05
max       9.300000  100.000000  2.343110e+06

In [115]:
movies.describe(include = "all")

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
count,1000,1000,1000,899,1000,1000,1000.000000,1000,843.000000,1000,1000,1000,1000,1000,1.000000e+03,831
unique,1000,999,100,16,140,202,NaN,1000,NaN,548,660,841,891,939,NaN,823
top,https://m.media-amazon.com/images/M/MV5BMDFkYT...,Drishyam,2014,U,100 min,Drama,NaN,Two imprisoned men bond over a number of years...,NaN,Alfred Hitchcock,Tom Hanks,Emma Watson,Rupert Grint,Michael Caine,NaN,"4,360,000"
freq,1,2,32,234,23,85,NaN,1,NaN,14,12,7,5,4,NaN,5
mean,NaN,NaN,NaN,NaN,NaN,NaN,7.949300,NaN,77.971530,NaN,NaN,NaN,NaN,NaN,2.736929e+05,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,0.275491,NaN,12.376099,NaN,NaN,NaN,NaN,NaN,3.273727e+05,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,7.600000,NaN,28.000000,NaN,NaN,NaN,NaN,NaN,2.508800e+04,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,7.700000,NaN,70.000000,NaN,NaN,NaN,NaN,NaN,5.552625e+04,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,7.900000,NaN,79.000000,NaN,NaN,NaN,NaN,NaN,1.385485e+05,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,8.100000,NaN,87.000000,NaN,NaN,NaN,NaN,NaN,3.741612e+05,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,9.300000,NaN,100.000000,NaN,NaN,NaN,NaN,NaN,2.343110e+06,NaN

In [119]:
movies.describe(include = "O")

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,Overview,Director,Star1,Star2,Star3,Star4,Gross
count,1000,1000,1000,899,1000,1000,1000,1000,1000,1000,1000,1000,831
unique,1000,999,100,16,140,202,1000,548,660,841,891,939,823
top,https://m.media-amazon.com/images/M/MV5BMDFkYT...,Drishyam,2014,U,100 min,Drama,Two imprisoned men bond over a number of years...,Alfred Hitchcock,Tom Hanks,Emma Watson,Rupert Grint,Michael Caine,"4,360,000"
freq,1,2,32,234,23,85,1,14,12,7,5,4,5

In [139]:
movies.describe(include = "object")

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,Overview,Director,Star1,Star2,Star3,Star4,Gross
count,1000,1000,1000,899,1000,1000,1000,1000,1000,1000,1000,1000,831
unique,1000,999,100,16,140,202,1000,548,660,841,891,939,823
top,https://m.media-amazon.com/images/M/MV5BMDFkYT...,Drishyam,2014,U,100 min,Drama,Two imprisoned men bond over a number of years...,Alfred Hitchcock,Tom Hanks,Emma Watson,Rupert Grint,Michael Caine,"4,360,000"
freq,1,2,32,234,23,85,1,14,12,7,5,4,5

In [121]:
movies.dtypes

Poster_Link       object
Series_Title      object
Released_Year     object
Certificate       object
Runtime           object
Genre             object
IMDB_Rating      float64
Overview          object
Meta_score       float64
Director          object
Star1             object
Star2             object
Star3             object
Star4             object
No_of_Votes        int64
Gross             object
dtype: object

In [123]:
movies.dtypes == "object"

Poster_Link       True
Series_Title      True
Released_Year     True
Certificate       True
Runtime           True
Genre             True
IMDB_Rating      False
Overview          True
Meta_score       False
Director          True
Star1             True
Star2             True
Star3             True
Star4             True
No_of_Votes      False
Gross             True
dtype: bool

In [125]:
movies.dtypes[movies.dtypes == "object"]

Poster_Link      object
Series_Title     object
Released_Year    object
Certificate      object
Runtime          object
Genre            object
Overview         object
Director         object
Star1            object
Star2            object
Star3            object
Star4            object
Gross            object
dtype: object

In [127]:
movies.dtypes[movies.dtypes == "object"].index

Index(['Poster_Link', 'Series_Title', 'Released_Year', 'Certificate',
       'Runtime', 'Genre', 'Overview', 'Director', 'Star1', 'Star2', 'Star3',
       'Star4', 'Gross'],
      dtype='object')

In [129]:
list(movies.dtypes[movies.dtypes == "object"].index)

['Poster_Link',
 'Series_Title',
 'Released_Year',
 'Certificate',
 'Runtime',
 'Genre',
 'Overview',
 'Director',
 'Star1',
 'Star2',
 'Star3',
 'Star4',
 'Gross']

In [133]:
movies[movies.dtypes[movies.dtypes == "object"].index]

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,Overview,Director,Star1,Star2,Star3,Star4,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,Two imprisoned men bond over a number of years...,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",An organized crime dynasty's aging patriarch t...,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",When the menace known as the Joker wreaks havo...,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",The early life and career of Vito Corleone in ...,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",A jury holdout attempts to prevent a miscarria...,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",A young New York socialite becomes interested ...,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,NaN
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",Sprawling epic covering the life of a Texas ca...,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,NaN
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War","In Hawaii in 1941, a private is cruelly punish...",Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,"30,500,000"
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",Several survivors of a torpedoed merchant ship...,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,NaN
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",A man in London tries to help a counter-espion...,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,NaN

In [135]:
movies[movies.dtypes[movies.dtypes != "object"].index]

     IMDB_Rating  Meta_score  No_of_Votes
0            9.3        80.0      2343110
1            9.2       100.0      1620367
2            9.0        84.0      2303232
3            9.0        90.0      1129952
4            9.0        96.0       689845
..           ...         ...          ...
995          7.6        76.0       166544
996          7.6        84.0        34075
997          7.6        85.0        43374
998          7.6        78.0        26471
999          7.6        93.0        51853

[1000 rows x 3 columns]

In [137]:
movies[movies.dtypes[movies.dtypes != "object"].index].describe()

       IMDB_Rating  Meta_score   No_of_Votes
count  1000.000000  843.000000  1.000000e+03
mean      7.949300   77.971530  2.736929e+05
std       0.275491   12.376099  3.273727e+05
min       7.600000   28.000000  2.508800e+04
25%       7.700000   70.000000  5.552625e+04
50%       7.900000   79.000000  1.385485e+05
75%       8.100000   87.000000  3.741612e+05
max       9.300000  100.000000  2.343110e+06

In [143]:
movies.duplicated().sum()

0

In [145]:
movies

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

In [149]:
movies.rename(columns = {"Series_Title":"movie_name"}, inplace = True)

In [151]:
movies

,Poster_Link,movie_name,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

In [159]:
c = pd.DataFrame(d)

In [163]:
c.columns = ["cricketer", "runs"]

In [165]:
c

  cricketer  runs
0  vk_score   100
1  rs_score   200

In [169]:
#selecting columns
movies.movie_name

0      The Shawshank Redemption
1                 The Godfather
2               The Dark Knight
3        The Godfather: Part II
4                  12 Angry Men
                 ...
995      Breakfast at Tiffany's
996                       Giant
997       From Here to Eternity
998                    Lifeboat
999                The 39 Steps
Name: movie_name, Length: 1000, dtype: object

In [171]:
movies['movie_name'] #best way to access column as if there is space it will throw an error

0      The Shawshank Redemption
1                 The Godfather
2               The Dark Knight
3        The Godfather: Part II
4                  12 Angry Men
                 ...
995      Breakfast at Tiffany's
996                       Giant
997       From Here to Eternity
998                    Lifeboat
999                The 39 Steps
Name: movie_name, Length: 1000, dtype: object

In [179]:
c.columns = ["cricketer", "runs scored"]

In [182]:
c

  cricketer  runs scored
0  vk_score          100
1  rs_score          200

In [186]:
c['runs scored']

0    100
1    200
Name: runs scored, dtype: int64

In [194]:
#select multiple columns
m_d = movies[['movie_name', 'Genre']] #it becomes 2 d array and hence dataframe
m_d

                   movie_name                     Genre
0    The Shawshank Redemption                     Drama
1               The Godfather              Crime, Drama
2             The Dark Knight      Action, Crime, Drama
3      The Godfather: Part II              Crime, Drama
4                12 Angry Men              Crime, Drama
..                        ...                       ...
995    Breakfast at Tiffany's    Comedy, Drama, Romance
996                     Giant            Drama, Western
997     From Here to Eternity       Drama, Romance, War
998                  Lifeboat                Drama, War
999              The 39 Steps  Crime, Mystery, Thriller

[1000 rows x 2 columns]

In [196]:
#accessing rows and columns using loc and iloc
#iloc>> integer or implicit indexing
#loc >> explicit or label based indexing

In [204]:
movies.iloc[5]

Poster_Link      https://m.media-amazon.com/images/M/MV5BNzA5ZD...
movie_name           The Lord of the Rings: The Return of the King
Released_Year                                                 2003
Certificate                                                      U
Runtime                                                    201 min
Genre                                     Action, Adventure, Drama
IMDB_Rating                                                    8.9
Overview         Gandalf and Aragorn lead the World of Men agai...
Meta_score                                                    94.0
Director                                             Peter Jackson
Star1                                                  Elijah Wood
Star2                                              Viggo Mortensen
Star3                                                 Ian McKellen
Star4                                                Orlando Bloom
No_of_Votes                                                1642758
Gross                                                  377,845,905
Name: 5, dtype: object

In [206]:
movies.iloc[:10]

,Poster_Link,movie_name,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
5,https://m.media-amazon.com/images/M/MV5BNzA5ZD...,The Lord of the Rings: The Return of the King,2003,U,201 min,"Action, Adventure, Drama",8.9,Gandalf and Aragorn lead the World of Men agai...,94.0,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,1642758,"377,845,905"
6,https://m.media-amazon.com/images/M/MV5BNGNhMD...,Pulp Fiction,1994,A,154 min,"Crime, Drama",8.9,"The lives of two mob hitmen, a boxer, a gangst...",94.0,Quentin Tarantino,John Travolta,Uma Thurman,Samuel L. Jackson,Bruce Willis,1826188,"107,928,762"
7,https://m.media-amazon.com/images/M/MV5BNDE4OT...,Schindler's List,1993,A,195 min,"Biography, Drama, History",8.9,"In German-occupied Poland during World War II,...",94.0,Steven Spielberg,Liam Neeson,Ralph Fiennes,Ben Kingsley,Caroline Goodall,1213505,"96,898,818"
8,https://m.media-amazon.com/images/M/MV5BMjAxMz...,Inception,2010,UA,148 min,"Action, Adventure, Sci-Fi",8.8,A thief who steals corporate secrets through t...,74.0,Christopher Nolan,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,2067042,"292,576,195"
9,https://m.media-amazon.com/images/M/MV5BMmEzNT...,Fight Club,1999,A,139 min,Drama,8.8,An insomniac office worker and a devil-may-car...,66.0,David Fincher,Brad Pitt,Edward Norton,Meat Loaf,Zach Grenier,1854740,"37,030,102"

In [210]:
#fancy indexing
movies.iloc[[1, 100, 110]]

,Poster_Link,movie_name,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
100,https://m.media-amazon.com/images/M/MV5BZTYwZW...,Bacheha-Ye aseman,1997,PG,89 min,"Drama, Family, Sport",8.3,"After a boy loses his sister's pair of shoes, ...",77.0,Majid Majidi,Mohammad Amir Naji,Amir Farrokh Hashemian,Bahare Seddiqi,Nafise Jafar-Mohammadi,65341,"933,933"
110,https://m.media-amazon.com/images/M/MV5BOGZhZD...,Das Boot,1981,R,149 min,"Adventure, Drama, Thriller",8.3,The claustrophobic world of a WWII German U-bo...,86.0,Wolfgang Petersen,Jürgen Prochnow,Herbert Grönemeyer,Klaus Wennemann,Hubertus Bengsch,231855,"11,487,676"

In [212]:
#loc>> label based, based on the name >> access

In [217]:
movies.loc[0:5]

,Poster_Link,movie_name,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
5,https://m.media-amazon.com/images/M/MV5BNzA5ZD...,The Lord of the Rings: The Return of the King,2003,U,201 min,"Action, Adventure, Drama",8.9,Gandalf and Aragorn lead the World of Men agai...,94.0,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,1642758,"377,845,905"

In [223]:
movies.set_index("movie_name", inplace=True)

In [225]:
movies.loc["The Dark Knight"]

Poster_Link      https://m.media-amazon.com/images/M/MV5BMTMxNT...
Released_Year                                                 2008
Certificate                                                     UA
Runtime                                                    152 min
Genre                                         Action, Crime, Drama
IMDB_Rating                                                    9.0
Overview         When the menace known as the Joker wreaks havo...
Meta_score                                                    84.0
Director                                         Christopher Nolan
Star1                                               Christian Bale
Star2                                                 Heath Ledger
Star3                                                Aaron Eckhart
Star4                                                Michael Caine
No_of_Votes                                                2303232
Gross                                                  534,858,444
Name: The Dark Knight, dtype: object

In [233]:
movies.loc["The Dark Knight":"Lifeboat" : 10]

,Poster_Link,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
movie_name,,,,,,,,,,,,,,,
The Dark Knight,https://m.media-amazon.com/images/M/MV5BMTMxNT...,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
"Il buono, il brutto, il cattivo",https://m.media-amazon.com/images/M/MV5BOTQ5ND...,1966,A,161 min,Western,8.8,A bounty hunting scam joins two men in an unea...,90.0,Sergio Leone,Clint Eastwood,Eli Wallach,Lee Van Cleef,Aldo Giuffrè,688390,"6,100,000"
Cidade de Deus,https://m.media-amazon.com/images/M/MV5BOTMwYj...,2002,A,130 min,"Crime, Drama",8.6,"In the slums of Rio, two kids' paths diverge a...",79.0,Fernando Meirelles,Kátia Lund,Alexandre Rodrigues,Leandro Firmino,Matheus Nachtergaele,699256,"7,563,397"
It's a Wonderful Life,https://m.media-amazon.com/images/M/MV5BZjc4ND...,1946,PG,130 min,"Drama, Family, Fantasy",8.6,An angel is sent from Heaven to help a despera...,89.0,Frank Capra,James Stewart,Donna Reed,Lionel Barrymore,Thomas Mitchell,405801,NaN
Léon,https://m.media-amazon.com/images/M/MV5BODllNW...,1994,A,110 min,"Action, Crime, Drama",8.5,"Mathilda, a 12-year-old girl, is reluctantly t...",64.0,Luc Besson,Jean Reno,Gary Oldman,Natalie Portman,Danny Aiello,1035236,"19,501,238"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
The Hurricane,https://m.media-amazon.com/images/M/MV5BMTA3OT...,1999,R,146 min,"Biography, Drama, Sport",7.6,"The story of Rubin 'Hurricane' Carter, a boxer...",74.0,Norman Jewison,Denzel Washington,Vicellous Shannon,Deborah Kara Unger,Liev Schreiber,91557,"50,668,906"
Sense and Sensibility,https://m.media-amazon.com/images/M/MV5BNzk1Mj...,1995,U,136 min,"Drama, Romance",7.6,"Rich Mr. Dashwood dies, leaving his second wif...",84.0,Ang Lee,Emma Thompson,Kate Winslet,James Fleet,Tom Wilkinson,102598,"43,182,776"
Delicatessen,https://m.media-amazon.com/images/M/MV5BNjg5ZD...,1991,R,99 min,"Comedy, Crime",7.6,Post-apocalyptic surrealist black comedy about...,66.0,Marc Caro,Jean-Pierre Jeunet,Marie-Laure Dougnac,Dominique Pinon,Pascal Benezech,80487,"1,794,187"
Mad Max 2,https://m.media-amazon.com/images/M/MV5BN2VlNj...,1981,A,96 min,"Action, Adventure, Sci-Fi",7.6,"In the post-apocalyptic Australian wasteland, ...",77.0,George Miller,Mel Gibson,Bruce Spence,Michael Preston,Max Phipps,166588,"12,465,371"
The Jungle Book,https://m.media-amazon.com/images/M/MV5BMjAwMT...,1967,U,78 min,"Animation, Adventure, Family",7.6,Bagheera the Panther and Baloo the Bear have a...,65.0,Wolfgang Reitherman,Phil Harris,Sebastian Cabot,Louis Prima,Bruce Reitherman,166409,"141,843,612"

In [235]:
#both rows and columns

In [240]:
movies = movies.reset_index()

In [242]:
movies

,movie_name,Poster_Link,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,The Shawshank Redemption,https://m.media-amazon.com/images/M/MV5BMDFkYT...,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,The Godfather,https://m.media-amazon.com/images/M/MV5BM2MyNj...,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,The Dark Knight,https://m.media-amazon.com/images/M/MV5BMTMxNT...,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,The Godfather: Part II,https://m.media-amazon.com/images/M/MV5BMWMwMG...,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,12 Angry Men,https://m.media-amazon.com/images/M/MV5BMWU4N2...,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,https://m.media-amazon.com/images/M/MV5BNGEwMT...,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
996,Giant,https://m.media-amazon.com/images/M/MV5BODk3Yj...,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
997,From Here to Eternity,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
998,Lifeboat,https://m.media-amazon.com/images/M/MV5BZTBmMj...,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
999,The 39 Steps,https://m.media-amazon.com/images/M/MV5BMTY5OD...,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

In [246]:
movies.iloc[:, 0:3]

,movie_name,Poster_Link,Released_Year
0,The Shawshank Redemption,https://m.media-amazon.com/images/M/MV5BMDFkYT...,1994
1,The Godfather,https://m.media-amazon.com/images/M/MV5BM2MyNj...,1972
2,The Dark Knight,https://m.media-amazon.com/images/M/MV5BMTMxNT...,2008
3,The Godfather: Part II,https://m.media-amazon.com/images/M/MV5BMWMwMG...,1974
4,12 Angry Men,https://m.media-amazon.com/images/M/MV5BMWU4N2...,1957
...,...,...,...
995,Breakfast at Tiffany's,https://m.media-amazon.com/images/M/MV5BNGEwMT...,1961
996,Giant,https://m.media-amazon.com/images/M/MV5BODk3Yj...,1956
997,From Here to Eternity,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,1953
998,Lifeboat,https://m.media-amazon.com/images/M/MV5BZTBmMj...,1944
999,The 39 Steps,https://m.media-amazon.com/images/M/MV5BMTY5OD...,1935

In [248]:
movies.iloc[3:100, 0:3]

,movie_name,Poster_Link,Released_Year
3,The Godfather: Part II,https://m.media-amazon.com/images/M/MV5BMWMwMG...,1974
4,12 Angry Men,https://m.media-amazon.com/images/M/MV5BMWU4N2...,1957
5,The Lord of the Rings: The Return of the King,https://m.media-amazon.com/images/M/MV5BNzA5ZD...,2003
6,Pulp Fiction,https://m.media-amazon.com/images/M/MV5BNGNhMD...,1994
7,Schindler's List,https://m.media-amazon.com/images/M/MV5BNDE4OT...,1993
...,...,...,...
95,Amélie,https://m.media-amazon.com/images/M/MV5BNDg4Nj...,2001
96,Snatch,https://m.media-amazon.com/images/M/MV5BMTA2ND...,2000
97,Requiem for a Dream,https://m.media-amazon.com/images/M/MV5BOTdiNz...,2000
98,American Beauty,https://m.media-amazon.com/images/M/MV5BNTBmZW...,1999
99,Good Will Hunting,https://m.media-amazon.com/images/M/MV5BOTI0Mz...,1997

In [250]:
movies.loc[3:100,"movie_name":"Released_Year"]

,movie_name,Poster_Link,Released_Year
3,The Godfather: Part II,https://m.media-amazon.com/images/M/MV5BMWMwMG...,1974
4,12 Angry Men,https://m.media-amazon.com/images/M/MV5BMWU4N2...,1957
5,The Lord of the Rings: The Return of the King,https://m.media-amazon.com/images/M/MV5BNzA5ZD...,2003
6,Pulp Fiction,https://m.media-amazon.com/images/M/MV5BNGNhMD...,1994
7,Schindler's List,https://m.media-amazon.com/images/M/MV5BNDE4OT...,1993
...,...,...,...
96,Snatch,https://m.media-amazon.com/images/M/MV5BMTA2ND...,2000
97,Requiem for a Dream,https://m.media-amazon.com/images/M/MV5BOTdiNz...,2000
98,American Beauty,https://m.media-amazon.com/images/M/MV5BNTBmZW...,1999
99,Good Will Hunting,https://m.media-amazon.com/images/M/MV5BOTI0Mz...,1997
100,Bacheha-Ye aseman,https://m.media-amazon.com/images/M/MV5BZTYwZW...,1997

In [254]:
#seeing the titanic dataset

In [256]:
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [260]:
titanic.shape

(891, 12)

In [262]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [264]:
titanic.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [266]:
titanic.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [268]:
titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [272]:
titanic["Age"]

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [276]:
t_num = titanic[["Age", "Fare", "SibSp"]]

In [278]:
#some mathematicsl functions with dataframe

t_num

      Age     Fare  SibSp
0    22.0   7.2500      1
1    38.0  71.2833      1
2    26.0   7.9250      0
3    35.0  53.1000      1
4    35.0   8.0500      0
..    ...      ...    ...
886  27.0  13.0000      0
887  19.0  30.0000      0
888   NaN  23.4500      1
889  26.0  30.0000      0
890  32.0   7.7500      0

[891 rows x 3 columns]

In [282]:
t_num.sum(axis=0)

Age      21205.1700
Fare     28693.9493
SibSp      466.0000
dtype: float64

In [286]:
t_num.sum(axis=1) #row wise sum(age+sibsp+Fare)

0       30.2500
1      110.2833
2       33.9250
3       89.1000
4       43.0500
         ...
886     40.0000
887     49.0000
888     24.4500
889     56.0000
890     39.7500
Length: 891, dtype: float64

In [288]:
t_num.mean(axis=0)

Age      29.699118
Fare     32.204208
SibSp     0.523008
dtype: float64

In [290]:
t_num.std(axis=0)

Age      14.526497
Fare     49.693429
SibSp     1.102743
dtype: float64

In [292]:
t_num.var(axis=0)

Age       211.019125
Fare     2469.436846
SibSp       1.216043
dtype: float64

In [294]:
t_num.min(axis=0)

Age      0.42
Fare     0.00
SibSp    0.00
dtype: float64

In [296]:
t_num.max(axis=0)

Age       80.0000
Fare     512.3292
SibSp      8.0000
dtype: float64

In [298]:
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [300]:
titanic['Family']=titanic['SibSp']+titanic['Parch']

In [302]:
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Family
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,3
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0

In [304]:
titanic['new_col'] = "some_value"

In [306]:
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Family,new_col
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,some_value
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,some_value
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,some_value
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,some_value
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,some_value
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0,some_value
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,0,some_value
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,3,some_value
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0,some_value
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0,some_value

In [312]:
titanic.Pclass

0      3
1      1
2      3
3      1
4      3
      ..
886    2
887    1
888    3
889    1
890    3
Name: Pclass, Length: 891, dtype: int64

In [310]:
titanic.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
Family           int64
new_col         object
dtype: object

In [314]:
pd.Categorical(titanic["Pclass"]) #different categroes of pclass

[3, 1, 3, 1, 3, ..., 2, 1, 3, 1, 3]
Length: 891
Categories (3, int64): [1, 2, 3]

In [318]:
titanic["Pclass"].unique()

array([3, 1, 2], dtype=int64)

In [320]:
titanic["Pclass"].nunique()

3

In [322]:
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Family,new_col
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,some_value
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,some_value
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,some_value
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,some_value
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,some_value
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0,some_value
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,0,some_value
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,3,some_value
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0,some_value
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0,some_value

In [330]:
titanic.Cabin.unique()

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

In [336]:
len(titanic.Cabin.unique())
#unique considers null values as a unique value but nunique will noy consider it as unique values

148

In [334]:
titanic.Cabin.nunique()

147

In [338]:
titanic['Cabin'].value_counts()

Cabin
B96 B98        4
G6             4
C23 C25 C27    4
C22 C26        3
F33            3
              ..
E34            1
C7             1
C54            1
E36            1
C148           1
Name: count, Length: 147, dtype: int64

In [340]:
#some analysis of data
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Family,new_col
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,some_value
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,some_value
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,some_value
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,some_value
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,some_value
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0,some_value
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,0,some_value
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,3,some_value
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0,some_value
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0,some_value

In [346]:
#Q. How many passengers are less than 6 years old
titanic[titanic.Age < 6]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Family,new_col
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S,4,some_value
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP 9549,16.7000,G6,S,2,some_value
16,17,0,3,"Rice, Master. Eugene",male,2.00,4,1,382652,29.1250,NaN,Q,5,some_value
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1,2,SC/Paris 2123,41.5792,NaN,C,3,some_value
58,59,1,2,"West, Miss. Constance Mirium",female,5.00,1,2,C.A. 34651,27.7500,NaN,S,3,some_value
63,64,0,3,"Skoog, Master. Harald",male,4.00,3,2,347088,27.9000,NaN,S,5,some_value
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S,2,some_value
119,120,0,3,"Andersson, Miss. Ellis Anna Maria",female,2.00,4,2,347082,31.2750,NaN,S,6,some_value
164,165,0,3,"Panula, Master. Eino Viljami",male,1.00,4,1,3101295,39.6875,NaN,S,5,some_value
171,172,0,3,"Rice, Master. Arthur",male,4.00,4,1,382652,29.1250,NaN,Q,5,some_value
172,173,1,3,"Johnson, Miss. Eleanor Ileen",female,1.00,1,1,347742,11.1333,NaN,S,2,some_value
183,184,1,2,"Becker, Master. Richard F",male,1.00,2,1,230136,39.0000,F4,S,3,some_value
184,185,1,3,"Kink-Heilmann, Miss. Luise Gretchen",female,4.00,0,2,315153,22.0250,NaN,S,2,some_value
193,194,1,2,"Navratil, Master. Michel M",male,3.00,1,1,230080,26.0000,F2,S,2,some_value
205,206,0,3,"Strom, Miss. Telma Matilda",female,2.00,0,1,347054,10.4625,G6,S,1,some_value
233,234,1,3,"Asplund, Miss. Lillian Gertrud",female,5.00,4,2,347077,31.3875,NaN,S,6,some_value
261,262,1,3,"Asplund, Master. Edvin Rojj Felix",male,3.00,4,2,347077,31.3875,NaN,S,6,some_value
297,298,0,1,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,3,some_value
305,306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,3,some_value
340,341,1,2,"Navratil, Master. Edmond Roger",male,2.00,1,1,230080,26.0000,F2,S,2,some_value
348,349,1,3,"Coutts, Master. William Loch ""William""",male,3.00,1,1,C.A. 37671,15.9000,NaN,S,2,some_value
374,375,0,3,"Palsson, Miss. Stina Viola",female,3.00,3,1,349909,21.0750,NaN,S,4,some_value
381,382,1,3,"Nakid, Miss. Maria (""Mary"")",female,1.00,0,2,2653,15.7417,NaN,C,2,some_value
386,387,0,3,"Goodwin, Master. Sidney Leonard",male,1.00,5,2,CA 2144,46.9000,NaN,S,7,some_value
407,408,1,2,"Richards, Master. William Rowe",male,3.00,1,1,29106,18.7500,NaN,S,2,some_value
445,446,1,1,"Dodge, Master. Washington",male,4.00,0,2,33638,81.8583,A34,S,2,some_value
448,449,1,3,"Baclini, Miss. Marie Catherine",female,5.00,2,1,2666,19.2583,NaN,C,3,some_value
469,470,1,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,19.2583,NaN,C,3,some_value
479,480,1,3,"Hirvonen, Miss. Hildur E",female,2.00,0,1,3101298,12.2875,NaN,S,1,some_value
530,531,1,2,"Quick, Miss. Phyllis May",female,2.00,1,1,26360,26.0000,NaN,S,2,some_value
618,619,1,2,"Becker, Miss. Marion Louise",female,4.00,2,1,230136,39.0000,F4,S,3,some_value
642,643,0,3,"Skoog, Miss. Margit Elizabeth",female,2.00,3,2,347088,27.9000,NaN,S,5,some_value
644,645,1,3,"Baclini, Miss. Eugenie",female,0.75,2,1,2666,19.2583,NaN,C,3,some_value
691,692,1,3,"Karun, Miss. Manca",female,4.00,0,1,349256,13.4167,NaN,C,1,some_value
750,751,1,2,"Wells, Miss. Joan",female,4.00,1,1,29103,23.0000,NaN,S,2,some_value
755,756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,NaN,S,2,some_value
777,778,1,3,"Emanuel, Miss. Virginia Ethel",female,5.00,0,0,364516,12.4750,NaN,S,0,some_value
788,789,1,3,"Dean, Master. Bertram Vere",male,1.00,1,2,C.A. 2315,20.5750,NaN,S,3,some_value
803,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,C,1,some_value
824,825,0,3,"Panula, Master. Urho Abraham",male,2.00,4,1,3101295,39.6875,NaN,S,5,some_value
827,828,1,2,"Mallet, Master. Andre",male,1.00,0,2,S.C./PARIS 2079,37.0042,NaN,C,2,some_value
831,832,1,2,"Richards, Master. George Sibley",male,0.83,1,1,29106,18.7500,NaN,S,2,some_value
850,851,0,3,"Andersson, Master. Sigvard Harald Elias",male,4.00,4,2,347082,31.2750,NaN,S,6,some_value
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.00,1,1,347742,11.1333,NaN,S,2,some_value

In [348]:
titanic[titanic.Age < 6].shape

(44, 14)

In [350]:
titanic[titanic.Age < 6].Name

7                Palsson, Master. Gosta Leonard
10              Sandstrom, Miss. Marguerite Rut
16                         Rice, Master. Eugene
43     Laroche, Miss. Simonne Marie Anne Andree
58                 West, Miss. Constance Mirium
63                        Skoog, Master. Harald
78                Caldwell, Master. Alden Gates
119           Andersson, Miss. Ellis Anna Maria
164                Panula, Master. Eino Viljami
171                        Rice, Master. Arthur
172                Johnson, Miss. Eleanor Ileen
183                   Becker, Master. Richard F
184         Kink-Heilmann, Miss. Luise Gretchen
193                  Navratil, Master. Michel M
205                  Strom, Miss. Telma Matilda
233              Asplund, Miss. Lillian Gertrud
261           Asplund, Master. Edvin Rojj Felix
297                Allison, Miss. Helen Loraine
305              Allison, Master. Hudson Trevor
340              Navratil, Master. Edmond Roger
348      Coutts, Master. William Loch "William"
374                  Palsson, Miss. Stina Viola
381                 Nakid, Miss. Maria ("Mary")
386             Goodwin, Master. Sidney Leonard
407              Richards, Master. William Rowe
445                   Dodge, Master. Washington
448              Baclini, Miss. Marie Catherine
469               Baclini, Miss. Helene Barbara
479                    Hirvonen, Miss. Hildur E
530                    Quick, Miss. Phyllis May
618                 Becker, Miss. Marion Louise
642               Skoog, Miss. Margit Elizabeth
644                      Baclini, Miss. Eugenie
691                          Karun, Miss. Manca
750                           Wells, Miss. Joan
755                   Hamalainen, Master. Viljo
777               Emanuel, Miss. Virginia Ethel
788                  Dean, Master. Bertram Vere
803             Thomas, Master. Assad Alexander
824                Panula, Master. Urho Abraham
827                       Mallet, Master. Andre
831             Richards, Master. George Sibley
850     Andersson, Master. Sigvard Harald Elias
869             Johnson, Master. Harold Theodor
Name: Name, dtype: object

In [352]:
list(titanic[titanic.Age < 6].Name)

['Palsson, Master. Gosta Leonard',
 'Sandstrom, Miss. Marguerite Rut',
 'Rice, Master. Eugene',
 'Laroche, Miss. Simonne Marie Anne Andree',
 'West, Miss. Constance Mirium',
 'Skoog, Master. Harald',
 'Caldwell, Master. Alden Gates',
 'Andersson, Miss. Ellis Anna Maria',
 'Panula, Master. Eino Viljami',
 'Rice, Master. Arthur',
 'Johnson, Miss. Eleanor Ileen',
 'Becker, Master. Richard F',
 'Kink-Heilmann, Miss. Luise Gretchen',
 'Navratil, Master. Michel M',
 'Strom, Miss. Telma Matilda',
 'Asplund, Miss. Lillian Gertrud',
 'Asplund, Master. Edvin Rojj Felix',
 'Allison, Miss. Helen Loraine',
 'Allison, Master. Hudson Trevor',
 'Navratil, Master. Edmond Roger',
 'Coutts, Master. William Loch "William"',
 'Palsson, Miss. Stina Viola',
 'Nakid, Miss. Maria ("Mary")',
 'Goodwin, Master. Sidney Leonard',
 'Richards, Master. William Rowe',
 'Dodge, Master. Washington',
 'Baclini, Miss. Marie Catherine',
 'Baclini, Miss. Helene Barbara',
 'Hirvonen, Miss. Hildur E',
 'Quick, Miss. Phyllis May',
 'Becker, Miss. Marion Louise',
 'Skoog, Miss. Margit Elizabeth',
 'Baclini, Miss. Eugenie',
 'Karun, Miss. Manca',
 'Wells, Miss. Joan',
 'Hamalainen, Master. Viljo',
 'Emanuel, Miss. Virginia Ethel',
 'Dean, Master. Bertram Vere',
 'Thomas, Master. Assad Alexander',
 'Panula, Master. Urho Abraham',
 'Mallet, Master. Andre',
 'Richards, Master. George Sibley',
 'Andersson, Master. Sigvard Harald Elias',
 'Johnson, Master. Harold Theodor']

In [358]:
#Q. How many passengers are travelling in class 1?
titanic[titanic.Pclass == 1]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Family,new_col
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,some_value
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,some_value
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,0,some_value
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,0,some_value
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,0,some_value
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,2,some_value
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,0,some_value
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,1,some_value
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,0,some_value
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0,some_value

In [360]:
len(titanic[titanic.Pclass == 1])

216

In [385]:
#Q. How many passengers have paid the fare less than average?
#average value >> titanic.Fare.mean()
titanic[titanic.Fare < titanic.Fare.mean()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Family,new_col
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,some_value
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,some_value
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,some_value
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,0,some_value
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,4,some_value
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0,some_value
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,0,some_value
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,3,some_value
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0,some_value
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0,some_value

In [387]:
len(titanic[titanic.Fare < titanic.Fare.mean()])

680

In [397]:
#Q. How many female passenger has paid less than average fare?
titanic[(titanic['Sex'] == "female") & (titanic.Fare < titanic.Fare.mean())]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Family,new_col
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,some_value
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,2,some_value
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,1,some_value
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,2,some_value
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,0,some_value
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S,1,some_value
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S,0,some_value
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,5,some_value
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,0,some_value
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,3,some_value

In [403]:
#Q. How many female passengers less than 20 years old has paid less than average fare?
titanic[(titanic.Fare < titanic.Fare.mean()) & (titanic.Sex=='female') & (titanic.Age<20)].count()

PassengerId    58
Survived       58
Pclass         58
Name           58
Sex            58
Age            58
SibSp          58
Parch          58
Ticket         58
Fare           58
Cabin           4
Embarked       58
Family         58
new_col        58
dtype: int64

In [ ]:
#Q.  How many passengers less than 20 years old has paid more than average fare and survived?

In [407]:
len(titanic[(titanic.Fare > titanic.Fare.mean()) & (titanic.Survived==1) & (titanic.Age<20)])

21

In [409]:
#analysis on worldcup dataset
cricket

,Unnamed: 0,Unnamed: 1,Unnamed: 2,GROUP,MATCH_ID,BATTING_ID,TEAM_ID,TEAM_NAME,VS,VANUE,...,OVR17,OVR18,OVR19,OVR20,TOTAL_SCORE,WICKETS,4S,6S,STATUS,1ST/2ND
0,NaN,NaN,NaN,A,1,201.0,1001.0,Canada,Canada va United States,Grand Prairie Stadium,...,6.0,4.0,14.0,21.0,194.0,5.0,17.0,8.0,LOSS,1.0
1,NaN,NaN,NaN,A,1,202.0,1002.0,United States,Canada va United States,Grand Prairie Stadium,...,7.0,16.0,NaN,NaN,197.0,3.0,13.0,13.0,WIN,2.0
2,NaN,NaN,NaN,C,2,203.0,1003.0,PNG,PNG va West Indies,Providence Stadium,...,3.0,13.0,10.0,14.0,136.0,8.0,NaN,NaN,LOSS,1.0
3,NaN,NaN,NaN,C,2,204.0,1004.0,West Indies,PNG va West Indies,Providence Stadium,...,9.0,18.0,13.0,NaN,137.0,5.0,NaN,NaN,WIN,2.0
4,NaN,NaN,NaN,B,3,205.0,1005.0,Oman,oman vs Namibia,"Kensington Oval, Bridgetown, Barbados",...,6.0,8.0,4.0,8.0,109.0,10.0,8.0,2.0,Tie,1.0
5,NaN,NaN,NaN,B,3,206.0,1006.0,Namibia,oman vs Namibia,"Kensington Oval, Bridgetown, Barbados",...,8.0,4.0,9.0,4.0,109.0,6.0,10.0,2.0,Tie,2.0
6,NaN,NaN,NaN,D,4,207.0,1007.0,Srilanka,South Africa vs Srilanka,Nassau County International Cricket Stadium,...,1.0,0.0,5.0,1.0,77.0,10.0,3.0,3.0,LOSS,1.0
7,NaN,NaN,NaN,D,4,208.0,1008.0,South Africa,South Africa vs Srilanka,Nassau County International Cricket Stadium,...,5.0,NaN,NaN,NaN,80.0,4.0,3.0,3.0,WIN,2.0
8,NaN,NaN,NaN,C,5,209.0,1009.0,Afghanistan,Afghanistan vs Uganda,Providence Stadium,...,5.0,5.0,6.0,6.0,183.0,5.0,12.0,5.0,WIN,1.0
9,NaN,NaN,NaN,C,5,210.0,1010.0,Uganda,Afghanistan vs Uganda,Providence Stadium,...,NaN,NaN,NaN,NaN,58.0,10.0,4.0,1.0,LOSS,2.0
10,NaN,NaN,NaN,B,6,211.0,1011.0,Scotland,Scotland vs England,"Kensington Oval, Bridgetown, Barbados",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,B,6,212.0,1012.0,England,Scotland vs England,"Kensington Oval, Bridgetown, Barbados",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,D,7,213.0,1013.0,Nepal,Netherlands vs Nepal,Grand Prairie Stadium,...,7.0,5.0,10.0,0.0,106.0,10.0,10.0,3.0,LOSS,1.0
13,NaN,NaN,NaN,D,7,214.0,1014.0,Netherlands,Netherlands vs Nepal,Grand Prairie Stadium,...,4.0,6.0,15.0,NaN,109.0,4.0,10.0,1.0,WIN,2.0
14,NaN,NaN,NaN,A,8,215.0,1015.0,Ireland,India vs Ireland,Nassau County International Cricket Stadium,...,NaN,NaN,NaN,NaN,96.0,10.0,8.0,3.0,LOSS,1.0
15,NaN,NaN,NaN,A,8,216.0,1016.0,India,India vs Ireland,Nassau County International Cricket Stadium,...,NaN,NaN,NaN,NaN,97.0,2.0,7.0,5.0,WIN,2.0
16,NaN,NaN,NaN,C,9,217.0,1003.0,PNG,PNG vs Uganda,"Providence Stadium, Guyana",...,4.0,5.0,3.0,0.0,77.0,10.0,4.0,1.0,LOSS,1.0
17,NaN,NaN,NaN,C,9,218.0,1010.0,Uganda,PNG vs Uganda,"Providence Stadium, Guyana",...,2.0,3.0,2.0,NaN,78.0,7.0,2.0,0.0,WIN,2.0
18,NaN,NaN,NaN,B,10,219.0,1017.0,Australia,Australia vs Oman,"Kensington Oval, Bridgetown, Barbados",...,16.0,9.0,17.0,8.0,164.0,5.0,14.0,7.0,WIN,1.0
19,NaN,NaN,NaN,B,10,220.0,1005.0,Oman,Australia vs Oman,"Kensington Oval, Bridgetown, Barbados",...,7.0,13.0,12.0,4.0,125.0,9.0,8.0,5.0,LOSS,2.0
20,NaN,NaN,NaN,A,11,221.0,1018.0,Pakistan,Pakistan vs United States,"Grand Prairie Stadium, Dallas",...,6.0,7.0,10.0,10.0,159.0,7.0,8.0,9.0,Tie,1.0
21,NaN,NaN,NaN,A,11,222.0,1002.0,United States,Pakistan vs United States,"Grand Prairie Stadium, Dallas",...,6.0,7.0,6.0,14.0,159.0,3.0,16.0,4.0,Tie,2.0
22,NaN,NaN,NaN,B,12,223.0,1006.0,Namibia,Namibia vs Scotland,"Kensington Oval, Bridgetown, Barbados",...,13.0,4.0,3.0,13.0,155.0,9.0,12.0,5.0,LOSS,1.0
23,NaN,NaN,NaN,B,12,224.0,1011.0,Scotland,Namibia vs Scotland,"Kensington Oval, Bridgetown, Barbados",...,19.0,13.0,9.0,NaN,157.0,5.0,7.0,7.0,WIN,2.0
24,NaN,NaN,NaN,A,13,225.0,1001.0,Canada,Canada vs Ireland,Nassau County International Cricket Stadium,...,9.0,7.0,2.0,9.0,137.0,7.0,13.0,2.0,WIN,1.0
25,NaN,NaN,NaN,A,13,226.0,1015.0,Ireland,Canada vs Ireland,Nassau County International Cricket Stadium,...,14.0,8.0,11.0,4.0,125.0,7.0,7.0,2.0,LOSS,2.0
26,NaN,NaN,NaN,C,14,227.0,1009.0,Afghanistan,Afghanistan vs New Zealand,"Providence Stadium, Guyana",...,13.0,13.0,16.0,3.0,159.0,6.0,10.0,9.0,WIN,1.0
27,NaN,NaN,NaN,C,14,228.0,1019.0,New Zealand,Afghanistan vs New Zealand,"Providence Stadium, Guyana",...,NaN,NaN,NaN,NaN,75.0,10.0,5.0,1.0,LOSS,2.0
28,NaN,NaN,NaN,D,15,229.0,1007.0,Srilanka,Srilanka vs Bangladesh,Grand Prairie Stadium,...,3.0,3.0,2.0,7.0,124.0,9.0,13.0,4.0,LOSS,1.0
29,NaN,NaN,NaN,D,15,230.0,1020.0,Bangladesh,Srilanka vs Bangladesh,Grand Prairie Stadium,...,3.0,3.0,11.0,NaN,125.0,8.0,3.0,6.0,WIN,2.0
30,NaN,NaN,NaN,D,16,231.0,1014.0,Netherlands,Netherlands vs South Africa,Nassau County International Cricket Stadium,...,7.0,9.0,15.0,1.0,103.0,9.0,6.0,2.0,LOSS,1.0
31,NaN,NaN,NaN,D,16,232.0,1008.0,South Africa,Netherlands vs South Africa,Nassau County International Cricket Stadium,...,4.0,9.0,NaN,NaN,106.0,6.0,3.0,5.0,WIN,2.0
32,NaN,NaN,NaN,B,17,233.0,1017.0,Australia,Australia vs England,"Kensington Oval, Bridgetown, Barbados",...,13.0,12.0,8.0,8.0,201.0,7.0,14.0,13.0,WIN,1.0
33,NaN,NaN,NaN,B,17,234.0,1012.0,England,Australia vs England,"Kensington Oval, Bridgetown, Barbados",...,6.0,12.0,4.0,13.0,165.0,6.0,12.0,8.0,LOSS,2.0
34,NaN,NaN,NaN,C,18,235.0,1004.0,West Indies,West Indies vs Uganda,"Providence Stadium, Guyana",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,C,18,236.0,1010.0,Uganda,West Indies vs Uganda,"Providence Stadium, Guyana",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,A,19,237.0,1016.0,India,India vs Pakistan,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,A,19,238.0,1018.0,Pakistan,India vs Pakistan,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,B,20,239.0,1005.0,Oman,Oman vs Scotland,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,B,20,240.0,1011.0,Scotland,Oman vs Scotland,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,D,21,241.0,1008.0,South Africa,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,D,21,242.0,1020.0,Bangladesh,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,A,22,243.0,1001.0,Canada,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,A,22,244.0,1018.0,Pakistan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,D,23,245.0,1007.0,Srilanka,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,D,23,246.0,1013.0,Nepal,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,B,24,247.0,1006.0,Namibia,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,B,24,248.0,1017.0,Australia,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,25,249.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,25,250.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,NaN,NaN,NaN,NaN,26,251.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,26,252.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,NaN,NaN,NaN,NaN,27,253.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,NaN,NaN,NaN,27,254.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN,28,255.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,NaN,NaN,NaN,NaN,28,256.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN,29,257.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,NaN,NaN,NaN,NaN,29,258.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,NaN,NaN,NaN,NaN,30,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,NaN,NaN,NaN,NaN,30,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [411]:
#find all the counteries that has participated in the world cup
cricket.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'GROUP', 'MATCH_ID',
       'BATTING_ID', 'TEAM_ID', 'TEAM_NAME', 'VS', 'VANUE', 'DATE', 'OVR1',
       'OVR2', 'OVR3', 'OVR4', 'OVR5', 'OVR6', 'OVR7', 'OVR8', 'OVR9', 'OVR10',
       'OVR11', 'OVR12', 'OVR13', 'OVR14', 'OVR15', 'OVR16', 'OVR17', 'OVR18',
       'OVR19', 'OVR20', 'TOTAL_SCORE', 'WICKETS', '4S', '6S', 'STATUS',
       ' 1ST/2ND'],
      dtype='object')

In [415]:
len(cricket.TEAM_NAME.unique())

21

In [417]:
cricket.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'GROUP', 'MATCH_ID',
       'BATTING_ID', 'TEAM_ID', 'TEAM_NAME', 'VS', 'VANUE', 'DATE', 'OVR1',
       'OVR2', 'OVR3', 'OVR4', 'OVR5', 'OVR6', 'OVR7', 'OVR8', 'OVR9', 'OVR10',
       'OVR11', 'OVR12', 'OVR13', 'OVR14', 'OVR15', 'OVR16', 'OVR17', 'OVR18',
       'OVR19', 'OVR20', 'TOTAL_SCORE', 'WICKETS', '4S', '6S', 'STATUS',
       ' 1ST/2ND'],
      dtype='object')

In [419]:
cricket

,Unnamed: 0,Unnamed: 1,Unnamed: 2,GROUP,MATCH_ID,BATTING_ID,TEAM_ID,TEAM_NAME,VS,VANUE,...,OVR17,OVR18,OVR19,OVR20,TOTAL_SCORE,WICKETS,4S,6S,STATUS,1ST/2ND
0,NaN,NaN,NaN,A,1,201.0,1001.0,Canada,Canada va United States,Grand Prairie Stadium,...,6.0,4.0,14.0,21.0,194.0,5.0,17.0,8.0,LOSS,1.0
1,NaN,NaN,NaN,A,1,202.0,1002.0,United States,Canada va United States,Grand Prairie Stadium,...,7.0,16.0,NaN,NaN,197.0,3.0,13.0,13.0,WIN,2.0
2,NaN,NaN,NaN,C,2,203.0,1003.0,PNG,PNG va West Indies,Providence Stadium,...,3.0,13.0,10.0,14.0,136.0,8.0,NaN,NaN,LOSS,1.0
3,NaN,NaN,NaN,C,2,204.0,1004.0,West Indies,PNG va West Indies,Providence Stadium,...,9.0,18.0,13.0,NaN,137.0,5.0,NaN,NaN,WIN,2.0
4,NaN,NaN,NaN,B,3,205.0,1005.0,Oman,oman vs Namibia,"Kensington Oval, Bridgetown, Barbados",...,6.0,8.0,4.0,8.0,109.0,10.0,8.0,2.0,Tie,1.0
5,NaN,NaN,NaN,B,3,206.0,1006.0,Namibia,oman vs Namibia,"Kensington Oval, Bridgetown, Barbados",...,8.0,4.0,9.0,4.0,109.0,6.0,10.0,2.0,Tie,2.0
6,NaN,NaN,NaN,D,4,207.0,1007.0,Srilanka,South Africa vs Srilanka,Nassau County International Cricket Stadium,...,1.0,0.0,5.0,1.0,77.0,10.0,3.0,3.0,LOSS,1.0
7,NaN,NaN,NaN,D,4,208.0,1008.0,South Africa,South Africa vs Srilanka,Nassau County International Cricket Stadium,...,5.0,NaN,NaN,NaN,80.0,4.0,3.0,3.0,WIN,2.0
8,NaN,NaN,NaN,C,5,209.0,1009.0,Afghanistan,Afghanistan vs Uganda,Providence Stadium,...,5.0,5.0,6.0,6.0,183.0,5.0,12.0,5.0,WIN,1.0
9,NaN,NaN,NaN,C,5,210.0,1010.0,Uganda,Afghanistan vs Uganda,Providence Stadium,...,NaN,NaN,NaN,NaN,58.0,10.0,4.0,1.0,LOSS,2.0
10,NaN,NaN,NaN,B,6,211.0,1011.0,Scotland,Scotland vs England,"Kensington Oval, Bridgetown, Barbados",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,B,6,212.0,1012.0,England,Scotland vs England,"Kensington Oval, Bridgetown, Barbados",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,D,7,213.0,1013.0,Nepal,Netherlands vs Nepal,Grand Prairie Stadium,...,7.0,5.0,10.0,0.0,106.0,10.0,10.0,3.0,LOSS,1.0
13,NaN,NaN,NaN,D,7,214.0,1014.0,Netherlands,Netherlands vs Nepal,Grand Prairie Stadium,...,4.0,6.0,15.0,NaN,109.0,4.0,10.0,1.0,WIN,2.0
14,NaN,NaN,NaN,A,8,215.0,1015.0,Ireland,India vs Ireland,Nassau County International Cricket Stadium,...,NaN,NaN,NaN,NaN,96.0,10.0,8.0,3.0,LOSS,1.0
15,NaN,NaN,NaN,A,8,216.0,1016.0,India,India vs Ireland,Nassau County International Cricket Stadium,...,NaN,NaN,NaN,NaN,97.0,2.0,7.0,5.0,WIN,2.0
16,NaN,NaN,NaN,C,9,217.0,1003.0,PNG,PNG vs Uganda,"Providence Stadium, Guyana",...,4.0,5.0,3.0,0.0,77.0,10.0,4.0,1.0,LOSS,1.0
17,NaN,NaN,NaN,C,9,218.0,1010.0,Uganda,PNG vs Uganda,"Providence Stadium, Guyana",...,2.0,3.0,2.0,NaN,78.0,7.0,2.0,0.0,WIN,2.0
18,NaN,NaN,NaN,B,10,219.0,1017.0,Australia,Australia vs Oman,"Kensington Oval, Bridgetown, Barbados",...,16.0,9.0,17.0,8.0,164.0,5.0,14.0,7.0,WIN,1.0
19,NaN,NaN,NaN,B,10,220.0,1005.0,Oman,Australia vs Oman,"Kensington Oval, Bridgetown, Barbados",...,7.0,13.0,12.0,4.0,125.0,9.0,8.0,5.0,LOSS,2.0
20,NaN,NaN,NaN,A,11,221.0,1018.0,Pakistan,Pakistan vs United States,"Grand Prairie Stadium, Dallas",...,6.0,7.0,10.0,10.0,159.0,7.0,8.0,9.0,Tie,1.0
21,NaN,NaN,NaN,A,11,222.0,1002.0,United States,Pakistan vs United States,"Grand Prairie Stadium, Dallas",...,6.0,7.0,6.0,14.0,159.0,3.0,16.0,4.0,Tie,2.0
22,NaN,NaN,NaN,B,12,223.0,1006.0,Namibia,Namibia vs Scotland,"Kensington Oval, Bridgetown, Barbados",...,13.0,4.0,3.0,13.0,155.0,9.0,12.0,5.0,LOSS,1.0
23,NaN,NaN,NaN,B,12,224.0,1011.0,Scotland,Namibia vs Scotland,"Kensington Oval, Bridgetown, Barbados",...,19.0,13.0,9.0,NaN,157.0,5.0,7.0,7.0,WIN,2.0
24,NaN,NaN,NaN,A,13,225.0,1001.0,Canada,Canada vs Ireland,Nassau County International Cricket Stadium,...,9.0,7.0,2.0,9.0,137.0,7.0,13.0,2.0,WIN,1.0
25,NaN,NaN,NaN,A,13,226.0,1015.0,Ireland,Canada vs Ireland,Nassau County International Cricket Stadium,...,14.0,8.0,11.0,4.0,125.0,7.0,7.0,2.0,LOSS,2.0
26,NaN,NaN,NaN,C,14,227.0,1009.0,Afghanistan,Afghanistan vs New Zealand,"Providence Stadium, Guyana",...,13.0,13.0,16.0,3.0,159.0,6.0,10.0,9.0,WIN,1.0
27,NaN,NaN,NaN,C,14,228.0,1019.0,New Zealand,Afghanistan vs New Zealand,"Providence Stadium, Guyana",...,NaN,NaN,NaN,NaN,75.0,10.0,5.0,1.0,LOSS,2.0
28,NaN,NaN,NaN,D,15,229.0,1007.0,Srilanka,Srilanka vs Bangladesh,Grand Prairie Stadium,...,3.0,3.0,2.0,7.0,124.0,9.0,13.0,4.0,LOSS,1.0
29,NaN,NaN,NaN,D,15,230.0,1020.0,Bangladesh,Srilanka vs Bangladesh,Grand Prairie Stadium,...,3.0,3.0,11.0,NaN,125.0,8.0,3.0,6.0,WIN,2.0
30,NaN,NaN,NaN,D,16,231.0,1014.0,Netherlands,Netherlands vs South Africa,Nassau County International Cricket Stadium,...,7.0,9.0,15.0,1.0,103.0,9.0,6.0,2.0,LOSS,1.0
31,NaN,NaN,NaN,D,16,232.0,1008.0,South Africa,Netherlands vs South Africa,Nassau County International Cricket Stadium,...,4.0,9.0,NaN,NaN,106.0,6.0,3.0,5.0,WIN,2.0
32,NaN,NaN,NaN,B,17,233.0,1017.0,Australia,Australia vs England,"Kensington Oval, Bridgetown, Barbados",...,13.0,12.0,8.0,8.0,201.0,7.0,14.0,13.0,WIN,1.0
33,NaN,NaN,NaN,B,17,234.0,1012.0,England,Australia vs England,"Kensington Oval, Bridgetown, Barbados",...,6.0,12.0,4.0,13.0,165.0,6.0,12.0,8.0,LOSS,2.0
34,NaN,NaN,NaN,C,18,235.0,1004.0,West Indies,West Indies vs Uganda,"Providence Stadium, Guyana",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,C,18,236.0,1010.0,Uganda,West Indies vs Uganda,"Providence Stadium, Guyana",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,A,19,237.0,1016.0,India,India vs Pakistan,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,A,19,238.0,1018.0,Pakistan,India vs Pakistan,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,B,20,239.0,1005.0,Oman,Oman vs Scotland,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,B,20,240.0,1011.0,Scotland,Oman vs Scotland,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,D,21,241.0,1008.0,South Africa,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,D,21,242.0,1020.0,Bangladesh,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,A,22,243.0,1001.0,Canada,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,A,22,244.0,1018.0,Pakistan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,D,23,245.0,1007.0,Srilanka,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,D,23,246.0,1013.0,Nepal,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,B,24,247.0,1006.0,Namibia,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,B,24,248.0,1017.0,Australia,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,25,249.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,25,250.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,NaN,NaN,NaN,NaN,26,251.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,26,252.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,NaN,NaN,NaN,NaN,27,253.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,NaN,NaN,NaN,27,254.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN,28,255.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,NaN,NaN,NaN,NaN,28,256.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN,29,257.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,NaN,NaN,NaN,NaN,29,258.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,NaN,NaN,NaN,NaN,30,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,NaN,NaN,NaN,NaN,30,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [421]:
cricket.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'GROUP', 'MATCH_ID',
       'BATTING_ID', 'TEAM_ID', 'TEAM_NAME', 'VS', 'VANUE', 'DATE', 'OVR1',
       'OVR2', 'OVR3', 'OVR4', 'OVR5', 'OVR6', 'OVR7', 'OVR8', 'OVR9', 'OVR10',
       'OVR11', 'OVR12', 'OVR13', 'OVR14', 'OVR15', 'OVR16', 'OVR17', 'OVR18',
       'OVR19', 'OVR20', 'TOTAL_SCORE', 'WICKETS', '4S', '6S', 'STATUS',
       ' 1ST/2ND'],
      dtype='object')

In [431]:
#Q. How many counteries are there in Groups A?
cricket[cricket.GROUP == "A"].TEAM_NAME

0            Canada
1     United States
14          Ireland
15            India
20         Pakistan
21    United States
24           Canada
25          Ireland
36            India
37         Pakistan
42           Canada
43         Pakistan
Name: TEAM_NAME, dtype: object

In [437]:
cricket

,Unnamed: 0,Unnamed: 1,Unnamed: 2,GROUP,MATCH_ID,BATTING_ID,TEAM_ID,TEAM_NAME,VS,VANUE,...,OVR17,OVR18,OVR19,OVR20,TOTAL_SCORE,WICKETS,4S,6S,STATUS,1ST/2ND
0,NaN,NaN,NaN,A,1,201.0,1001.0,Canada,Canada va United States,Grand Prairie Stadium,...,6.0,4.0,14.0,21.0,194.0,5.0,17.0,8.0,LOSS,1.0
1,NaN,NaN,NaN,A,1,202.0,1002.0,United States,Canada va United States,Grand Prairie Stadium,...,7.0,16.0,NaN,NaN,197.0,3.0,13.0,13.0,WIN,2.0
2,NaN,NaN,NaN,C,2,203.0,1003.0,PNG,PNG va West Indies,Providence Stadium,...,3.0,13.0,10.0,14.0,136.0,8.0,NaN,NaN,LOSS,1.0
3,NaN,NaN,NaN,C,2,204.0,1004.0,West Indies,PNG va West Indies,Providence Stadium,...,9.0,18.0,13.0,NaN,137.0,5.0,NaN,NaN,WIN,2.0
4,NaN,NaN,NaN,B,3,205.0,1005.0,Oman,oman vs Namibia,"Kensington Oval, Bridgetown, Barbados",...,6.0,8.0,4.0,8.0,109.0,10.0,8.0,2.0,Tie,1.0
5,NaN,NaN,NaN,B,3,206.0,1006.0,Namibia,oman vs Namibia,"Kensington Oval, Bridgetown, Barbados",...,8.0,4.0,9.0,4.0,109.0,6.0,10.0,2.0,Tie,2.0
6,NaN,NaN,NaN,D,4,207.0,1007.0,Srilanka,South Africa vs Srilanka,Nassau County International Cricket Stadium,...,1.0,0.0,5.0,1.0,77.0,10.0,3.0,3.0,LOSS,1.0
7,NaN,NaN,NaN,D,4,208.0,1008.0,South Africa,South Africa vs Srilanka,Nassau County International Cricket Stadium,...,5.0,NaN,NaN,NaN,80.0,4.0,3.0,3.0,WIN,2.0
8,NaN,NaN,NaN,C,5,209.0,1009.0,Afghanistan,Afghanistan vs Uganda,Providence Stadium,...,5.0,5.0,6.0,6.0,183.0,5.0,12.0,5.0,WIN,1.0
9,NaN,NaN,NaN,C,5,210.0,1010.0,Uganda,Afghanistan vs Uganda,Providence Stadium,...,NaN,NaN,NaN,NaN,58.0,10.0,4.0,1.0,LOSS,2.0
10,NaN,NaN,NaN,B,6,211.0,1011.0,Scotland,Scotland vs England,"Kensington Oval, Bridgetown, Barbados",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,B,6,212.0,1012.0,England,Scotland vs England,"Kensington Oval, Bridgetown, Barbados",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,D,7,213.0,1013.0,Nepal,Netherlands vs Nepal,Grand Prairie Stadium,...,7.0,5.0,10.0,0.0,106.0,10.0,10.0,3.0,LOSS,1.0
13,NaN,NaN,NaN,D,7,214.0,1014.0,Netherlands,Netherlands vs Nepal,Grand Prairie Stadium,...,4.0,6.0,15.0,NaN,109.0,4.0,10.0,1.0,WIN,2.0
14,NaN,NaN,NaN,A,8,215.0,1015.0,Ireland,India vs Ireland,Nassau County International Cricket Stadium,...,NaN,NaN,NaN,NaN,96.0,10.0,8.0,3.0,LOSS,1.0
15,NaN,NaN,NaN,A,8,216.0,1016.0,India,India vs Ireland,Nassau County International Cricket Stadium,...,NaN,NaN,NaN,NaN,97.0,2.0,7.0,5.0,WIN,2.0
16,NaN,NaN,NaN,C,9,217.0,1003.0,PNG,PNG vs Uganda,"Providence Stadium, Guyana",...,4.0,5.0,3.0,0.0,77.0,10.0,4.0,1.0,LOSS,1.0
17,NaN,NaN,NaN,C,9,218.0,1010.0,Uganda,PNG vs Uganda,"Providence Stadium, Guyana",...,2.0,3.0,2.0,NaN,78.0,7.0,2.0,0.0,WIN,2.0
18,NaN,NaN,NaN,B,10,219.0,1017.0,Australia,Australia vs Oman,"Kensington Oval, Bridgetown, Barbados",...,16.0,9.0,17.0,8.0,164.0,5.0,14.0,7.0,WIN,1.0
19,NaN,NaN,NaN,B,10,220.0,1005.0,Oman,Australia vs Oman,"Kensington Oval, Bridgetown, Barbados",...,7.0,13.0,12.0,4.0,125.0,9.0,8.0,5.0,LOSS,2.0
20,NaN,NaN,NaN,A,11,221.0,1018.0,Pakistan,Pakistan vs United States,"Grand Prairie Stadium, Dallas",...,6.0,7.0,10.0,10.0,159.0,7.0,8.0,9.0,Tie,1.0
21,NaN,NaN,NaN,A,11,222.0,1002.0,United States,Pakistan vs United States,"Grand Prairie Stadium, Dallas",...,6.0,7.0,6.0,14.0,159.0,3.0,16.0,4.0,Tie,2.0
22,NaN,NaN,NaN,B,12,223.0,1006.0,Namibia,Namibia vs Scotland,"Kensington Oval, Bridgetown, Barbados",...,13.0,4.0,3.0,13.0,155.0,9.0,12.0,5.0,LOSS,1.0
23,NaN,NaN,NaN,B,12,224.0,1011.0,Scotland,Namibia vs Scotland,"Kensington Oval, Bridgetown, Barbados",...,19.0,13.0,9.0,NaN,157.0,5.0,7.0,7.0,WIN,2.0
24,NaN,NaN,NaN,A,13,225.0,1001.0,Canada,Canada vs Ireland,Nassau County International Cricket Stadium,...,9.0,7.0,2.0,9.0,137.0,7.0,13.0,2.0,WIN,1.0
25,NaN,NaN,NaN,A,13,226.0,1015.0,Ireland,Canada vs Ireland,Nassau County International Cricket Stadium,...,14.0,8.0,11.0,4.0,125.0,7.0,7.0,2.0,LOSS,2.0
26,NaN,NaN,NaN,C,14,227.0,1009.0,Afghanistan,Afghanistan vs New Zealand,"Providence Stadium, Guyana",...,13.0,13.0,16.0,3.0,159.0,6.0,10.0,9.0,WIN,1.0
27,NaN,NaN,NaN,C,14,228.0,1019.0,New Zealand,Afghanistan vs New Zealand,"Providence Stadium, Guyana",...,NaN,NaN,NaN,NaN,75.0,10.0,5.0,1.0,LOSS,2.0
28,NaN,NaN,NaN,D,15,229.0,1007.0,Srilanka,Srilanka vs Bangladesh,Grand Prairie Stadium,...,3.0,3.0,2.0,7.0,124.0,9.0,13.0,4.0,LOSS,1.0
29,NaN,NaN,NaN,D,15,230.0,1020.0,Bangladesh,Srilanka vs Bangladesh,Grand Prairie Stadium,...,3.0,3.0,11.0,NaN,125.0,8.0,3.0,6.0,WIN,2.0
30,NaN,NaN,NaN,D,16,231.0,1014.0,Netherlands,Netherlands vs South Africa,Nassau County International Cricket Stadium,...,7.0,9.0,15.0,1.0,103.0,9.0,6.0,2.0,LOSS,1.0
31,NaN,NaN,NaN,D,16,232.0,1008.0,South Africa,Netherlands vs South Africa,Nassau County International Cricket Stadium,...,4.0,9.0,NaN,NaN,106.0,6.0,3.0,5.0,WIN,2.0
32,NaN,NaN,NaN,B,17,233.0,1017.0,Australia,Australia vs England,"Kensington Oval, Bridgetown, Barbados",...,13.0,12.0,8.0,8.0,201.0,7.0,14.0,13.0,WIN,1.0
33,NaN,NaN,NaN,B,17,234.0,1012.0,England,Australia vs England,"Kensington Oval, Bridgetown, Barbados",...,6.0,12.0,4.0,13.0,165.0,6.0,12.0,8.0,LOSS,2.0
34,NaN,NaN,NaN,C,18,235.0,1004.0,West Indies,West Indies vs Uganda,"Providence Stadium, Guyana",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,C,18,236.0,1010.0,Uganda,West Indies vs Uganda,"Providence Stadium, Guyana",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,A,19,237.0,1016.0,India,India vs Pakistan,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,A,19,238.0,1018.0,Pakistan,India vs Pakistan,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,B,20,239.0,1005.0,Oman,Oman vs Scotland,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,B,20,240.0,1011.0,Scotland,Oman vs Scotland,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,D,21,241.0,1008.0,South Africa,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,D,21,242.0,1020.0,Bangladesh,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,A,22,243.0,1001.0,Canada,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,A,22,244.0,1018.0,Pakistan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,D,23,245.0,1007.0,Srilanka,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,D,23,246.0,1013.0,Nepal,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,B,24,247.0,1006.0,Namibia,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,B,24,248.0,1017.0,Australia,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,25,249.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,25,250.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,NaN,NaN,NaN,NaN,26,251.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,26,252.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,NaN,NaN,NaN,NaN,27,253.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,NaN,NaN,NaN,27,254.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN,28,255.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,NaN,NaN,NaN,NaN,28,256.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN,29,257.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,NaN,NaN,NaN,NaN,29,258.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,NaN,NaN,NaN,NaN,30,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,NaN,NaN,NaN,NaN,30,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [441]:
#Q which team has scored highest in 20th over
cricket.OVR20.max()

21.0

In [445]:
cricket[cricket.OVR20 == cricket.OVR20.max()].TEAM_NAME

0    Canada
Name: TEAM_NAME, dtype: object

In [447]:
cricket

,Unnamed: 0,Unnamed: 1,Unnamed: 2,GROUP,MATCH_ID,BATTING_ID,TEAM_ID,TEAM_NAME,VS,VANUE,...,OVR17,OVR18,OVR19,OVR20,TOTAL_SCORE,WICKETS,4S,6S,STATUS,1ST/2ND
0,NaN,NaN,NaN,A,1,201.0,1001.0,Canada,Canada va United States,Grand Prairie Stadium,...,6.0,4.0,14.0,21.0,194.0,5.0,17.0,8.0,LOSS,1.0
1,NaN,NaN,NaN,A,1,202.0,1002.0,United States,Canada va United States,Grand Prairie Stadium,...,7.0,16.0,NaN,NaN,197.0,3.0,13.0,13.0,WIN,2.0
2,NaN,NaN,NaN,C,2,203.0,1003.0,PNG,PNG va West Indies,Providence Stadium,...,3.0,13.0,10.0,14.0,136.0,8.0,NaN,NaN,LOSS,1.0
3,NaN,NaN,NaN,C,2,204.0,1004.0,West Indies,PNG va West Indies,Providence Stadium,...,9.0,18.0,13.0,NaN,137.0,5.0,NaN,NaN,WIN,2.0
4,NaN,NaN,NaN,B,3,205.0,1005.0,Oman,oman vs Namibia,"Kensington Oval, Bridgetown, Barbados",...,6.0,8.0,4.0,8.0,109.0,10.0,8.0,2.0,Tie,1.0
5,NaN,NaN,NaN,B,3,206.0,1006.0,Namibia,oman vs Namibia,"Kensington Oval, Bridgetown, Barbados",...,8.0,4.0,9.0,4.0,109.0,6.0,10.0,2.0,Tie,2.0
6,NaN,NaN,NaN,D,4,207.0,1007.0,Srilanka,South Africa vs Srilanka,Nassau County International Cricket Stadium,...,1.0,0.0,5.0,1.0,77.0,10.0,3.0,3.0,LOSS,1.0
7,NaN,NaN,NaN,D,4,208.0,1008.0,South Africa,South Africa vs Srilanka,Nassau County International Cricket Stadium,...,5.0,NaN,NaN,NaN,80.0,4.0,3.0,3.0,WIN,2.0
8,NaN,NaN,NaN,C,5,209.0,1009.0,Afghanistan,Afghanistan vs Uganda,Providence Stadium,...,5.0,5.0,6.0,6.0,183.0,5.0,12.0,5.0,WIN,1.0
9,NaN,NaN,NaN,C,5,210.0,1010.0,Uganda,Afghanistan vs Uganda,Providence Stadium,...,NaN,NaN,NaN,NaN,58.0,10.0,4.0,1.0,LOSS,2.0
10,NaN,NaN,NaN,B,6,211.0,1011.0,Scotland,Scotland vs England,"Kensington Oval, Bridgetown, Barbados",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,B,6,212.0,1012.0,England,Scotland vs England,"Kensington Oval, Bridgetown, Barbados",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,D,7,213.0,1013.0,Nepal,Netherlands vs Nepal,Grand Prairie Stadium,...,7.0,5.0,10.0,0.0,106.0,10.0,10.0,3.0,LOSS,1.0
13,NaN,NaN,NaN,D,7,214.0,1014.0,Netherlands,Netherlands vs Nepal,Grand Prairie Stadium,...,4.0,6.0,15.0,NaN,109.0,4.0,10.0,1.0,WIN,2.0
14,NaN,NaN,NaN,A,8,215.0,1015.0,Ireland,India vs Ireland,Nassau County International Cricket Stadium,...,NaN,NaN,NaN,NaN,96.0,10.0,8.0,3.0,LOSS,1.0
15,NaN,NaN,NaN,A,8,216.0,1016.0,India,India vs Ireland,Nassau County International Cricket Stadium,...,NaN,NaN,NaN,NaN,97.0,2.0,7.0,5.0,WIN,2.0
16,NaN,NaN,NaN,C,9,217.0,1003.0,PNG,PNG vs Uganda,"Providence Stadium, Guyana",...,4.0,5.0,3.0,0.0,77.0,10.0,4.0,1.0,LOSS,1.0
17,NaN,NaN,NaN,C,9,218.0,1010.0,Uganda,PNG vs Uganda,"Providence Stadium, Guyana",...,2.0,3.0,2.0,NaN,78.0,7.0,2.0,0.0,WIN,2.0
18,NaN,NaN,NaN,B,10,219.0,1017.0,Australia,Australia vs Oman,"Kensington Oval, Bridgetown, Barbados",...,16.0,9.0,17.0,8.0,164.0,5.0,14.0,7.0,WIN,1.0
19,NaN,NaN,NaN,B,10,220.0,1005.0,Oman,Australia vs Oman,"Kensington Oval, Bridgetown, Barbados",...,7.0,13.0,12.0,4.0,125.0,9.0,8.0,5.0,LOSS,2.0
20,NaN,NaN,NaN,A,11,221.0,1018.0,Pakistan,Pakistan vs United States,"Grand Prairie Stadium, Dallas",...,6.0,7.0,10.0,10.0,159.0,7.0,8.0,9.0,Tie,1.0
21,NaN,NaN,NaN,A,11,222.0,1002.0,United States,Pakistan vs United States,"Grand Prairie Stadium, Dallas",...,6.0,7.0,6.0,14.0,159.0,3.0,16.0,4.0,Tie,2.0
22,NaN,NaN,NaN,B,12,223.0,1006.0,Namibia,Namibia vs Scotland,"Kensington Oval, Bridgetown, Barbados",...,13.0,4.0,3.0,13.0,155.0,9.0,12.0,5.0,LOSS,1.0
23,NaN,NaN,NaN,B,12,224.0,1011.0,Scotland,Namibia vs Scotland,"Kensington Oval, Bridgetown, Barbados",...,19.0,13.0,9.0,NaN,157.0,5.0,7.0,7.0,WIN,2.0
24,NaN,NaN,NaN,A,13,225.0,1001.0,Canada,Canada vs Ireland,Nassau County International Cricket Stadium,...,9.0,7.0,2.0,9.0,137.0,7.0,13.0,2.0,WIN,1.0
25,NaN,NaN,NaN,A,13,226.0,1015.0,Ireland,Canada vs Ireland,Nassau County International Cricket Stadium,...,14.0,8.0,11.0,4.0,125.0,7.0,7.0,2.0,LOSS,2.0
26,NaN,NaN,NaN,C,14,227.0,1009.0,Afghanistan,Afghanistan vs New Zealand,"Providence Stadium, Guyana",...,13.0,13.0,16.0,3.0,159.0,6.0,10.0,9.0,WIN,1.0
27,NaN,NaN,NaN,C,14,228.0,1019.0,New Zealand,Afghanistan vs New Zealand,"Providence Stadium, Guyana",...,NaN,NaN,NaN,NaN,75.0,10.0,5.0,1.0,LOSS,2.0
28,NaN,NaN,NaN,D,15,229.0,1007.0,Srilanka,Srilanka vs Bangladesh,Grand Prairie Stadium,...,3.0,3.0,2.0,7.0,124.0,9.0,13.0,4.0,LOSS,1.0
29,NaN,NaN,NaN,D,15,230.0,1020.0,Bangladesh,Srilanka vs Bangladesh,Grand Prairie Stadium,...,3.0,3.0,11.0,NaN,125.0,8.0,3.0,6.0,WIN,2.0
30,NaN,NaN,NaN,D,16,231.0,1014.0,Netherlands,Netherlands vs South Africa,Nassau County International Cricket Stadium,...,7.0,9.0,15.0,1.0,103.0,9.0,6.0,2.0,LOSS,1.0
31,NaN,NaN,NaN,D,16,232.0,1008.0,South Africa,Netherlands vs South Africa,Nassau County International Cricket Stadium,...,4.0,9.0,NaN,NaN,106.0,6.0,3.0,5.0,WIN,2.0
32,NaN,NaN,NaN,B,17,233.0,1017.0,Australia,Australia vs England,"Kensington Oval, Bridgetown, Barbados",...,13.0,12.0,8.0,8.0,201.0,7.0,14.0,13.0,WIN,1.0
33,NaN,NaN,NaN,B,17,234.0,1012.0,England,Australia vs England,"Kensington Oval, Bridgetown, Barbados",...,6.0,12.0,4.0,13.0,165.0,6.0,12.0,8.0,LOSS,2.0
34,NaN,NaN,NaN,C,18,235.0,1004.0,West Indies,West Indies vs Uganda,"Providence Stadium, Guyana",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,C,18,236.0,1010.0,Uganda,West Indies vs Uganda,"Providence Stadium, Guyana",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,A,19,237.0,1016.0,India,India vs Pakistan,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,A,19,238.0,1018.0,Pakistan,India vs Pakistan,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,B,20,239.0,1005.0,Oman,Oman vs Scotland,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,B,20,240.0,1011.0,Scotland,Oman vs Scotland,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,D,21,241.0,1008.0,South Africa,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,D,21,242.0,1020.0,Bangladesh,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,A,22,243.0,1001.0,Canada,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,A,22,244.0,1018.0,Pakistan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,D,23,245.0,1007.0,Srilanka,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,D,23,246.0,1013.0,Nepal,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,B,24,247.0,1006.0,Namibia,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,B,24,248.0,1017.0,Australia,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,25,249.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,25,250.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,NaN,NaN,NaN,NaN,26,251.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,26,252.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,NaN,NaN,NaN,NaN,27,253.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,NaN,NaN,NaN,27,254.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN,28,255.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,NaN,NaN,NaN,NaN,28,256.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN,29,257.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,NaN,NaN,NaN,NaN,29,258.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,NaN,NaN,NaN,NaN,30,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,NaN,NaN,NaN,NaN,30,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [451]:
cricket.STATUS

0     LOSS
1      WIN
2     LOSS
3      WIN
4      Tie
5      Tie
6     LOSS
7      WIN
8      WIN
9     LOSS
10     NaN
11     NaN
12    LOSS
13     WIN
14    LOSS
15     WIN
16    LOSS
17     WIN
18     WIN
19    LOSS
20     Tie
21     Tie
22    LOSS
23     WIN
24     WIN
25    LOSS
26     WIN
27    LOSS
28    LOSS
29     WIN
30    LOSS
31     WIN
32     WIN
33    LOSS
34     NaN
35     NaN
36     NaN
37     NaN
38     NaN
39     NaN
40     NaN
41     NaN
42     NaN
43     NaN
44     NaN
45     NaN
46     NaN
47     NaN
48     NaN
49     NaN
50     NaN
51     NaN
52     NaN
53     NaN
54     NaN
55     NaN
56     NaN
57     NaN
58     NaN
59     NaN
Name: STATUS, dtype: object

In [455]:
cricket.STATUS == "WIN"

0     False
1      True
2     False
3      True
4     False
5     False
6     False
7      True
8      True
9     False
10    False
11    False
12    False
13     True
14    False
15     True
16    False
17     True
18     True
19    False
20    False
21    False
22    False
23     True
24     True
25    False
26     True
27    False
28    False
29     True
30    False
31     True
32     True
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
51    False
52    False
53    False
54    False
55    False
56    False
57    False
58    False
59    False
Name: STATUS, dtype: bool

In [457]:
cricket.TEAM_NAME == "India"

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15     True
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36     True
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
51    False
52    False
53    False
54    False
55    False
56    False
57    False
58    False
59    False
Name: TEAM_NAME, dtype: bool

In [469]:
#How many times India has won the match in first inning in the world cup

cricket[(cricket.TEAM_NAME == "India") & (cricket.STATUS == "WIN") & (cricket[' 1ST/2ND']== 1.0)]

Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 1, Unnamed: 2, GROUP, MATCH_ID, BATTING_ID, TEAM_ID, TEAM_NAME, VS, VANUE, DATE, OVR1, OVR2, OVR3, OVR4, OVR5, OVR6, OVR7, OVR8, OVR9, OVR10, OVR11, OVR12, OVR13, OVR14, OVR15, OVR16, OVR17, OVR18, OVR19, OVR20, TOTAL_SCORE, WICKETS, 4S, 6S, STATUS,  1ST/2ND]
Index: []

[0 rows x 37 columns]

In [471]:
#how many times India has occured in VS column?
cricket

,Unnamed: 0,Unnamed: 1,Unnamed: 2,GROUP,MATCH_ID,BATTING_ID,TEAM_ID,TEAM_NAME,VS,VANUE,...,OVR17,OVR18,OVR19,OVR20,TOTAL_SCORE,WICKETS,4S,6S,STATUS,1ST/2ND
0,NaN,NaN,NaN,A,1,201.0,1001.0,Canada,Canada va United States,Grand Prairie Stadium,...,6.0,4.0,14.0,21.0,194.0,5.0,17.0,8.0,LOSS,1.0
1,NaN,NaN,NaN,A,1,202.0,1002.0,United States,Canada va United States,Grand Prairie Stadium,...,7.0,16.0,NaN,NaN,197.0,3.0,13.0,13.0,WIN,2.0
2,NaN,NaN,NaN,C,2,203.0,1003.0,PNG,PNG va West Indies,Providence Stadium,...,3.0,13.0,10.0,14.0,136.0,8.0,NaN,NaN,LOSS,1.0
3,NaN,NaN,NaN,C,2,204.0,1004.0,West Indies,PNG va West Indies,Providence Stadium,...,9.0,18.0,13.0,NaN,137.0,5.0,NaN,NaN,WIN,2.0
4,NaN,NaN,NaN,B,3,205.0,1005.0,Oman,oman vs Namibia,"Kensington Oval, Bridgetown, Barbados",...,6.0,8.0,4.0,8.0,109.0,10.0,8.0,2.0,Tie,1.0
5,NaN,NaN,NaN,B,3,206.0,1006.0,Namibia,oman vs Namibia,"Kensington Oval, Bridgetown, Barbados",...,8.0,4.0,9.0,4.0,109.0,6.0,10.0,2.0,Tie,2.0
6,NaN,NaN,NaN,D,4,207.0,1007.0,Srilanka,South Africa vs Srilanka,Nassau County International Cricket Stadium,...,1.0,0.0,5.0,1.0,77.0,10.0,3.0,3.0,LOSS,1.0
7,NaN,NaN,NaN,D,4,208.0,1008.0,South Africa,South Africa vs Srilanka,Nassau County International Cricket Stadium,...,5.0,NaN,NaN,NaN,80.0,4.0,3.0,3.0,WIN,2.0
8,NaN,NaN,NaN,C,5,209.0,1009.0,Afghanistan,Afghanistan vs Uganda,Providence Stadium,...,5.0,5.0,6.0,6.0,183.0,5.0,12.0,5.0,WIN,1.0
9,NaN,NaN,NaN,C,5,210.0,1010.0,Uganda,Afghanistan vs Uganda,Providence Stadium,...,NaN,NaN,NaN,NaN,58.0,10.0,4.0,1.0,LOSS,2.0
10,NaN,NaN,NaN,B,6,211.0,1011.0,Scotland,Scotland vs England,"Kensington Oval, Bridgetown, Barbados",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,B,6,212.0,1012.0,England,Scotland vs England,"Kensington Oval, Bridgetown, Barbados",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,D,7,213.0,1013.0,Nepal,Netherlands vs Nepal,Grand Prairie Stadium,...,7.0,5.0,10.0,0.0,106.0,10.0,10.0,3.0,LOSS,1.0
13,NaN,NaN,NaN,D,7,214.0,1014.0,Netherlands,Netherlands vs Nepal,Grand Prairie Stadium,...,4.0,6.0,15.0,NaN,109.0,4.0,10.0,1.0,WIN,2.0
14,NaN,NaN,NaN,A,8,215.0,1015.0,Ireland,India vs Ireland,Nassau County International Cricket Stadium,...,NaN,NaN,NaN,NaN,96.0,10.0,8.0,3.0,LOSS,1.0
15,NaN,NaN,NaN,A,8,216.0,1016.0,India,India vs Ireland,Nassau County International Cricket Stadium,...,NaN,NaN,NaN,NaN,97.0,2.0,7.0,5.0,WIN,2.0
16,NaN,NaN,NaN,C,9,217.0,1003.0,PNG,PNG vs Uganda,"Providence Stadium, Guyana",...,4.0,5.0,3.0,0.0,77.0,10.0,4.0,1.0,LOSS,1.0
17,NaN,NaN,NaN,C,9,218.0,1010.0,Uganda,PNG vs Uganda,"Providence Stadium, Guyana",...,2.0,3.0,2.0,NaN,78.0,7.0,2.0,0.0,WIN,2.0
18,NaN,NaN,NaN,B,10,219.0,1017.0,Australia,Australia vs Oman,"Kensington Oval, Bridgetown, Barbados",...,16.0,9.0,17.0,8.0,164.0,5.0,14.0,7.0,WIN,1.0
19,NaN,NaN,NaN,B,10,220.0,1005.0,Oman,Australia vs Oman,"Kensington Oval, Bridgetown, Barbados",...,7.0,13.0,12.0,4.0,125.0,9.0,8.0,5.0,LOSS,2.0
20,NaN,NaN,NaN,A,11,221.0,1018.0,Pakistan,Pakistan vs United States,"Grand Prairie Stadium, Dallas",...,6.0,7.0,10.0,10.0,159.0,7.0,8.0,9.0,Tie,1.0
21,NaN,NaN,NaN,A,11,222.0,1002.0,United States,Pakistan vs United States,"Grand Prairie Stadium, Dallas",...,6.0,7.0,6.0,14.0,159.0,3.0,16.0,4.0,Tie,2.0
22,NaN,NaN,NaN,B,12,223.0,1006.0,Namibia,Namibia vs Scotland,"Kensington Oval, Bridgetown, Barbados",...,13.0,4.0,3.0,13.0,155.0,9.0,12.0,5.0,LOSS,1.0
23,NaN,NaN,NaN,B,12,224.0,1011.0,Scotland,Namibia vs Scotland,"Kensington Oval, Bridgetown, Barbados",...,19.0,13.0,9.0,NaN,157.0,5.0,7.0,7.0,WIN,2.0
24,NaN,NaN,NaN,A,13,225.0,1001.0,Canada,Canada vs Ireland,Nassau County International Cricket Stadium,...,9.0,7.0,2.0,9.0,137.0,7.0,13.0,2.0,WIN,1.0
25,NaN,NaN,NaN,A,13,226.0,1015.0,Ireland,Canada vs Ireland,Nassau County International Cricket Stadium,...,14.0,8.0,11.0,4.0,125.0,7.0,7.0,2.0,LOSS,2.0
26,NaN,NaN,NaN,C,14,227.0,1009.0,Afghanistan,Afghanistan vs New Zealand,"Providence Stadium, Guyana",...,13.0,13.0,16.0,3.0,159.0,6.0,10.0,9.0,WIN,1.0
27,NaN,NaN,NaN,C,14,228.0,1019.0,New Zealand,Afghanistan vs New Zealand,"Providence Stadium, Guyana",...,NaN,NaN,NaN,NaN,75.0,10.0,5.0,1.0,LOSS,2.0
28,NaN,NaN,NaN,D,15,229.0,1007.0,Srilanka,Srilanka vs Bangladesh,Grand Prairie Stadium,...,3.0,3.0,2.0,7.0,124.0,9.0,13.0,4.0,LOSS,1.0
29,NaN,NaN,NaN,D,15,230.0,1020.0,Bangladesh,Srilanka vs Bangladesh,Grand Prairie Stadium,...,3.0,3.0,11.0,NaN,125.0,8.0,3.0,6.0,WIN,2.0
30,NaN,NaN,NaN,D,16,231.0,1014.0,Netherlands,Netherlands vs South Africa,Nassau County International Cricket Stadium,...,7.0,9.0,15.0,1.0,103.0,9.0,6.0,2.0,LOSS,1.0
31,NaN,NaN,NaN,D,16,232.0,1008.0,South Africa,Netherlands vs South Africa,Nassau County International Cricket Stadium,...,4.0,9.0,NaN,NaN,106.0,6.0,3.0,5.0,WIN,2.0
32,NaN,NaN,NaN,B,17,233.0,1017.0,Australia,Australia vs England,"Kensington Oval, Bridgetown, Barbados",...,13.0,12.0,8.0,8.0,201.0,7.0,14.0,13.0,WIN,1.0
33,NaN,NaN,NaN,B,17,234.0,1012.0,England,Australia vs England,"Kensington Oval, Bridgetown, Barbados",...,6.0,12.0,4.0,13.0,165.0,6.0,12.0,8.0,LOSS,2.0
34,NaN,NaN,NaN,C,18,235.0,1004.0,West Indies,West Indies vs Uganda,"Providence Stadium, Guyana",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,C,18,236.0,1010.0,Uganda,West Indies vs Uganda,"Providence Stadium, Guyana",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,A,19,237.0,1016.0,India,India vs Pakistan,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,A,19,238.0,1018.0,Pakistan,India vs Pakistan,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,B,20,239.0,1005.0,Oman,Oman vs Scotland,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,B,20,240.0,1011.0,Scotland,Oman vs Scotland,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,D,21,241.0,1008.0,South Africa,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,D,21,242.0,1020.0,Bangladesh,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,A,22,243.0,1001.0,Canada,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,A,22,244.0,1018.0,Pakistan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,D,23,245.0,1007.0,Srilanka,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,D,23,246.0,1013.0,Nepal,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,B,24,247.0,1006.0,Namibia,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,B,24,248.0,1017.0,Australia,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,25,249.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,25,250.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,NaN,NaN,NaN,NaN,26,251.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,26,252.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,NaN,NaN,NaN,NaN,27,253.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,NaN,NaN,NaN,27,254.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN,28,255.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,NaN,NaN,NaN,NaN,28,256.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN,29,257.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,NaN,NaN,NaN,NaN,29,258.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,NaN,NaN,NaN,NaN,30,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,NaN,NaN,NaN,NaN,30,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [493]:
cricket["VS"].str.contains("India")

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14     True
15     True
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36     True
37     True
38    False
39    False
40      NaN
41      NaN
42      NaN
43      NaN
44      NaN
45      NaN
46      NaN
47      NaN
48      NaN
49      NaN
50      NaN
51      NaN
52      NaN
53      NaN
54      NaN
55      NaN
56      NaN
57      NaN
58      NaN
59      NaN
Name: VS, dtype: object

In [507]:
#in how many movies Hoffman has acted
len(movies[movies.Star1.str.contains("Hoffman")])

6

In [519]:
#how many times the venue ended with Stadium >> many venue has staduim as middle character so dont use contains

cricket.VANUE.str.endswith("Stadium")

0      True
1      True
2      True
3      True
4     False
5     False
6      True
7      True
8      True
9      True
10    False
11    False
12     True
13     True
14     True
15     True
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24     True
25     True
26    False
27    False
28     True
29     True
30     True
31     True
32    False
33    False
34    False
35    False
36      NaN
37      NaN
38      NaN
39      NaN
40      NaN
41      NaN
42      NaN
43      NaN
44      NaN
45      NaN
46      NaN
47      NaN
48      NaN
49      NaN
50      NaN
51      NaN
52      NaN
53      NaN
54      NaN
55      NaN
56      NaN
57      NaN
58      NaN
59      NaN
Name: VANUE, dtype: object

In [521]:
cricket[cricket.VANUE.str.endswith("Dallas") == True]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,GROUP,MATCH_ID,BATTING_ID,TEAM_ID,TEAM_NAME,VS,VANUE,...,OVR17,OVR18,OVR19,OVR20,TOTAL_SCORE,WICKETS,4S,6S,STATUS,1ST/2ND
20,NaN,NaN,NaN,A,11,221.0,1018.0,Pakistan,Pakistan vs United States,"Grand Prairie Stadium, Dallas",...,6.0,7.0,10.0,10.0,159.0,7.0,8.0,9.0,Tie,1.0
21,NaN,NaN,NaN,A,11,222.0,1002.0,United States,Pakistan vs United States,"Grand Prairie Stadium, Dallas",...,6.0,7.0,6.0,14.0,159.0,3.0,16.0,4.0,Tie,2.0

In [525]:
cricket[cricket.VANUE.str.startswith("Grand") == True]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,GROUP,MATCH_ID,BATTING_ID,TEAM_ID,TEAM_NAME,VS,VANUE,...,OVR17,OVR18,OVR19,OVR20,TOTAL_SCORE,WICKETS,4S,6S,STATUS,1ST/2ND
0,NaN,NaN,NaN,A,1,201.0,1001.0,Canada,Canada va United States,Grand Prairie Stadium,...,6.0,4.0,14.0,21.0,194.0,5.0,17.0,8.0,LOSS,1.0
1,NaN,NaN,NaN,A,1,202.0,1002.0,United States,Canada va United States,Grand Prairie Stadium,...,7.0,16.0,NaN,NaN,197.0,3.0,13.0,13.0,WIN,2.0
12,NaN,NaN,NaN,D,7,213.0,1013.0,Nepal,Netherlands vs Nepal,Grand Prairie Stadium,...,7.0,5.0,10.0,0.0,106.0,10.0,10.0,3.0,LOSS,1.0
13,NaN,NaN,NaN,D,7,214.0,1014.0,Netherlands,Netherlands vs Nepal,Grand Prairie Stadium,...,4.0,6.0,15.0,NaN,109.0,4.0,10.0,1.0,WIN,2.0
20,NaN,NaN,NaN,A,11,221.0,1018.0,Pakistan,Pakistan vs United States,"Grand Prairie Stadium, Dallas",...,6.0,7.0,10.0,10.0,159.0,7.0,8.0,9.0,Tie,1.0
21,NaN,NaN,NaN,A,11,222.0,1002.0,United States,Pakistan vs United States,"Grand Prairie Stadium, Dallas",...,6.0,7.0,6.0,14.0,159.0,3.0,16.0,4.0,Tie,2.0
28,NaN,NaN,NaN,D,15,229.0,1007.0,Srilanka,Srilanka vs Bangladesh,Grand Prairie Stadium,...,3.0,3.0,2.0,7.0,124.0,9.0,13.0,4.0,LOSS,1.0
29,NaN,NaN,NaN,D,15,230.0,1020.0,Bangladesh,Srilanka vs Bangladesh,Grand Prairie Stadium,...,3.0,3.0,11.0,NaN,125.0,8.0,3.0,6.0,WIN,2.0

In [529]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   movie_name     1000 non-null   object
 1   Poster_Link    1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [537]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
 12  Family       891 non-null    int64
 13  new_col      891 non-null    object
dtypes: float64(2), int64(6), object(6)
memory usage: 97.6+ KB

In [547]:
titanic.Pclass = titanic.Pclass.astype(float)

In [549]:
titanic.Pclass.astype(str)

0      3.0
1      1.0
2      3.0
3      1.0
4      3.0
      ...
886    2.0
887    1.0
888    3.0
889    1.0
890    3.0
Name: Pclass, Length: 891, dtype: object

In [551]:
titanic.Pclass.astype(int)

0      3
1      1
2      3
3      1
4      3
      ..
886    2
887    1
888    3
889    1
890    3
Name: Pclass, Length: 891, dtype: int32

In [553]:
titanic.Pclass.astype('category')

0      3.0
1      1.0
2      3.0
3      1.0
4      3.0
      ...
886    2.0
887    1.0
888    3.0
889    1.0
890    3.0
Name: Pclass, Length: 891, dtype: category
Categories (3, float64): [1.0, 2.0, 3.0]

In [559]:
movies.Released_Year.astype(int) #if throws error

ValueError: invalid literal for int() with base 10: 'PG'

In [561]:
pd.to_numeric(movies.Released_Year, errors = 'coerce')
#suppress the error

0      1994.0
1      1972.0
2      2008.0
3      1974.0
4      1957.0
        ...
995    1961.0
996    1956.0
997    1953.0
998    1944.0
999    1935.0
Name: Released_Year, Length: 1000, dtype: float64

In [563]:
movies.Released_Year.unique()

array(['1994', '1972', '2008', '1974', '1957', '2003', '1993', '2010',
       '1999', '2001', '1966', '2002', '1990', '1980', '1975', '2020',
       '2019', '2014', '1998', '1997', '1995', '1991', '1977', '1962',
       '1954', '1946', '2011', '2006', '2000', '1988', '1985', '1968',
       '1960', '1942', '1936', '1931', '2018', '2017', '2016', '2012',
       '2009', '2007', '1984', '1981', '1979', '1971', '1963', '1964',
       '1950', '1940', '2013', '2005', '2004', '1992', '1987', '1986',
       '1983', '1976', '1973', '1965', '1959', '1958', '1952', '1948',
       '1944', '1941', '1927', '1921', '2015', '1996', '1989', '1978',
       '1961', '1955', '1953', '1925', '1924', '1982', '1967', '1951',
       '1949', '1939', '1937', '1934', '1928', '1926', '1920', '1970',
       '1969', '1956', '1947', '1945', '1930', '1938', '1935', '1933',
       '1932', '1922', '1943', 'PG'], dtype=object)

In [573]:
movies["Released_Year"].str.replace("PG", "0").astype(int)

0      1994
1      1972
2      2008
3      1974
4      1957
       ...
995    1961
996    1956
997    1953
998    1944
999    1935
Name: Released_Year, Length: 1000, dtype: int32

In [577]:
#interview Questions
#.str, astype, loc, iloc, unique, nunique, filtering conditions